[2020-04-21 10:04] KrisThielemans opened #631 "use of `assert` in C++ code"
we have some checks done via `assert` in C++.
https://github.com/SyneRBI/SIRF/search?l=C%2B%2B&q=assert
However, these are not seen in normal running (only when compiled in debug mode). Therefore, they are unsafe.

We need to convert this to normal run-time checks and throw exceptions.

In fact, Codacy tells us that `assert` in Python isn't great either as compiled version (I guess pypy and cpytho

[2020-04-21 10:19] rijobro commented on #631
Some in the registration are intentional, e.g.:
https://github.com/SyneRBI/SIRF/blob/439ed1ec2fe2b037096f3112ab8d5c035f2082ca/src/Registration/cReg/NiftiImageData.cpp#L286-L297
Much like in STIR, they check that each element is in range, which slows things down and shouldn't be necessary most of the time.

[2020-04-21 10:39] AnderBiguri commented on #631
@rijobro but if `#define NDEBUG ` is not defined or `assert.h` included, they do nothing.

http://www.cplusplus.com/reference/cassert/assert/ says:

On top of the my all around complain ( sorry :D ) that error messages are not clear, even if it would work.

[2020-04-21 10:45] AnderBiguri opened #632 "Improve docs and usage of dimensions()"
Refer to conversation here: https://github.com/SyneRBI/SIRF/pull/628#discussion_r411535114

[2020-04-21 11:56] KrisThielemans commented on #631
of course. Ideally though we have debugging checks for anything that's callable by python/matlab. Otherwise the innocent user can crash their environment. In this case, we're not exposing index access, so that's not a problem.

I guess (like `std::whatever` and STIR), we should have `at` access as well, which does perform the check always.

[2020-04-21 12:59] evgueni-ovtchinnikov commented on #631
@rijobro: can you sort out Reg's asserts please? I will do the rest.

[2020-04-21 13:38] evgueni-ovtchinnikov commented on #631
done my part

@rijobro: where check is always needed, you may like to simply replace `assert` with my new macro `ASSERT` (see `LocalisedException.h`); when you are done (and Travis is green), close the issue please

[2020-04-21 14:19] #586 closed

[2020-04-21 16:29] paskino commented on #624
@AnderBiguri [`get_uniform_copy`](https://github.com/SyneRBI/SIRF/blob/master/src/common/SIRF.py#L490) uses just the metadata to allocate the data and fill it with a constant value, default being 1.0. Also it accepts the parameter `value` with which you can specify what value you want it filled with.

So if `self` is a template or `DataContainer` with data nothing changes and you'll get what you w

[2020-04-22 14:51] evgueni-ovtchinnikov commented on #567
@KrisThielemans: So far as I can see from these two lines:
[code]
`model` argument does not specify the acquisition model. My guess is, it specifies particular Poisson LogLikelihood model - cannot really say anything more useful, I am afraid, being out of my depth here.

[2020-04-22 15:02] rijobro commented on #567
Seems there are two different meanings of model here. One being the `AcquisitionModel` (which is what @francescaleek expected), the other being the "model" used for the likelihood (e.g., `LinearModelForMean`). Model seems like a confusing name for the latter, we should maybe change it (e.g., `likelihood_type`).

@evgueni-ovtchinnikov perhaps an error should be thrown here?

[code]

[2020-04-22 15:07] rijobro commented on #567
For @francescaleek 's desired functionality, we would also need:

[code]

[2020-04-22 16:06] KrisThielemans commented on #567
I thinl @rijobro's suggestion is very good. The intention was that we'd be able to figure out the likelihood type from the model anyway (after all, we only need to know what the domain and range are). So I even think that the `likelihood_type` will become irrelevant.

[2020-04-23 09:03] KrisThielemans commented on #629
This is related to our discussion of `dot` vs `vdot`. @AnderBiguri can you insert the link to that here (ideally very briefly summarising if necessary). (There's `numpy.inner` as well by the way, which isn't what we want either).

An `inner_product` has to return a scalar. Obviously, for complex data, it'd have to be a complex number, while for real data a float (or double).

I guess it's less cle

[2020-04-23 09:34] AnderBiguri commented on #629
There was a discussion at https://github.com/SyneRBI/SIRF/pull/617#discussion_r404330231

The conversation is about naming of `dot`. The current SIRF behavior of `dot` is:

It treats the input as a vector (unrolls any matrix), and uses complex conjugate when data is complex.

Arguments are

1. If we want SIRF to be as equal as possible between python and MATLAB, then it makes sense to use `dot` as

[2020-04-23 09:55] KrisThielemans commented on #629
thanks @AnderBiguri. I'll rope in some of the CIL guys.

@epapoutsellis, @jakobsj, @paskino I understand that CIL uses `numpy.dot`. Are all CIL data containers 1D then? I guess they are real-valued.

My personal opinion is that if there is confusion in terminology and functionality between different `*dot` versions, we should stay away from it and stick to `(get_)inner_product`.

[2020-04-23 10:10] evgueni-ovtchinnikov commented on #629
As a mathematician, I very much regret the meaning of `dot` being totally distorted by extending this function, which in mathematics is only defined for vectors, to matrices, for which it now returns just the matrix product in Python and products. of matrices' columns or rows in MATLAB (the latter is at least useful in coding block iterative algorithms).

Luckily, in mathematics we have another na

[2020-04-23 10:26] KrisThielemans commented on #629
I agree. The confusion comes that in imaging, the images are multiple-dimension arrays, but they are not operators, and not matrices either.

I also agree that `get_inner_product` is unwieldy, but would avoid `inner` as it conflicts with `numpy.inner` again. So I'd vote for `inner_product`.

In fact, I'd then make a `sirf.inner_product` function that calls `a.inner_product(b)` (I believe that in M

[2020-04-23 10:37] evgueni-ovtchinnikov commented on #629
there is no `inner_product` in MATLAB R2019b

[2020-04-23 10:41] KrisThielemans commented on #629
no, exactly. that's why we won't have a name clash!

I meant that MATLAB will go and hunt for a method if the function doesn't exist, see https://uk.mathworks.com/help/matlab/matlab_oop/method-invocation.html

[2020-04-23 11:09] #627 closed

[2020-04-24 10:11] rijobro opened #633 "assert_validities dimensions should use any()"
SuperBuild currently failing ([link](https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/674690137)) because of a problem with `assert_validities`. In `Utilities.py`, should be something like `any(x.dimensions() != y.dimensions())` as opposed to just `x.dimensions() != y.dimensions()`

[2020-04-24 10:24] KrisThielemans commented on #567
let's use `acq_model` as parameter name

[2020-04-24 10:31] KrisThielemans commented on #389
To be discussed at the Steering Panel

[2020-04-24 23:19] AnderBiguri commented on #633
@rijobro @KrisThielemans hum...

But tuple comparison should work like this. i.e.

[code]

Could the problem be that some `dimensions()` do not return a tuple?

[2020-04-24 23:30] AnderBiguri commented on #633
Issue is likely that @evgueni-ovtchinnikov and myself both tried to fix the `dimensions()` function, and merging has brought it up together.

This is the correct function, returning a tuple:
https://github.com/SyneRBI/SIRF/blob/master/src/Registration/pReg/Reg.py.in#L240

But Evgueni added this one in master to give me a hand with my PR. Works, but does not return a tuple, so we agreed that we'd u

[2020-04-25 08:06] KrisThielemans opened #637 "adjoint tests sometimes fails for Gadgetron"
(at least) one job on linux is failing after #636  https://travis-ci.org/github/SyneRBI/SIRF/builds/679325885. Error is simply
[code]
https://travis-ci.org/github/SyneRBI/SIRF/jobs/679325894#L31331

It'd be more useful to have some diagnostics as well then.

[2020-04-25 08:08] KrisThielemans commented on #637
likely a border case on the numerical threshold as there's nothing special for that job as far as I can see.

[2020-04-25 08:10] KrisThielemans commented on #637
It's only that one job https://travis-ci.org/github/SyneRBI/SIRF/builds/679325850

[2020-04-25 08:11] #633 closed

[2020-04-25 08:16] KrisThielemans commented on #632
A few additional things to check:
- Reg's `get_dimensions()` should be renamed to `get_nifti_dimensions` I guess. Also, its doc shouldn't mention `x`,`y`,`z` https://github.com/SyneRBI/SIRF/blob/dc094db9f8a5b052af4f5bda1ac729913df6f5ff/src/Registration/pReg/Reg.py.in#L247. Some for `get_voxel_sizes` https://github.com/SyneRBI/SIRF/blob/dc094db9f8a5b052af4f5bda1ac729913df6f5ff/src/Registration/pReg

[2020-04-25 08:16] KrisThielemans commented on #632
I see that `get_dimensions` is in fact all over the place. Is the Nifti version compatible with the rest?

[2020-04-25 08:38] KrisThielemans commented on #637
@AnderBiguri I'll have a look later, unless you volunteer...

[2020-04-25 08:51] AnderBiguri commented on #637
@KrisThielemans im happy to have a look.

[2020-04-25 11:21] AnderBiguri commented on #637
@KrisThielemans I cannot reproduce. Gadgetron adjoint test always return results 2 orders of magnitude lower (`[3~50]e-7`) than the threshold (`10e-5`). Is there something particular from that job that can have an influence?I can see its Xcode, which is Mac (I dont have access to Mac), but the rest of the flag conbination seems OK with other builds? Its hard to know as they are not always clear in

[2020-04-25 12:24] KrisThielemans commented on #637
@AnderBiguri the job listed in the first comment here is a linux job actually. It's more than likely that you cannot reproduce it as the other jobs are fine.

i don't see anything in the flags really. I think best thing to do is to write diagnostics to stdout when the test fails. Otherwise we're just in the dark.

[2020-04-25 12:26] AnderBiguri commented on #637
@KrisThielemans fair. The fucntion has `print` statements, however they do not work in the test. Other tests use `sys.stderr.write()` to display, but I did not want to put this inside the function. A possible alternative is making `is_operator_adjoint` return multiple outputs, which can be the errors and dot products. Open to other ideas.

[2020-04-25 12:35] KrisThielemans commented on #637
any reason we wouldn't have a test like this
[code]
(or whatever appropriate Python syntax is)

[2020-04-25 12:37] AnderBiguri commented on #637
@KrisThielemans yes, what I mentioned in my previous comment. `print` does not print on the `ctests`

[2020-04-25 12:46] KrisThielemans commented on #637
are you sure that `print` doesn't print? That is: `ctest` pipes everything to a log file. We run `ctest --output-on-failure` to get it to the Travis log as well, https://github.com/SyneRBI/SIRF-SuperBuild/blob/b1ea877a68b17daaebeae08e4c92a42f150d221b/.travis.yml#L491.

By the way, I think the `verbose` should default to `True` for your test, as the output is quite small (and helpful)

[2020-04-25 12:48] AnderBiguri commented on #637
Ah @KrisThielemans my bad. Still a lot of these things elude me. Defaulting to `True` should be a tiny change, yet I still do not know what to do to fix this issue.

[2020-04-25 12:50] KrisThielemans commented on #637
no sure. let's see the diagnostics first!

[2020-04-25 13:32] KrisThielemans commented on #637
funny. the relevant job now passed.

let's wait for the OSX tests but this update is good  in any case.

[2020-04-25 21:01] KrisThielemans opened #639 "compilation problem with recent STIR"
while testing https://github.com/SyneRBI/SIRF-SuperBuild/pull/377, all Travis jobs fails, e.g. https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/679504203#L22496
[code]
Current STIR (i.e. 4.0.0) needs `shared_ptr<ListRecord>`, but this is sadly incompatible with 4.0.0alpha. (seems we created a mess).

I don't understand why this hasn't shown up in `DEVEL_BUILD=ON` cases though

[2020-04-25 21:18] KrisThielemans commented on #639
we could potentially check the preprocessor symbol  `STIR_VERSION_STRING`, set to `"4.0.0-alpha"` or "4.0.0", see
https://github.com/UCL/STIR/blob/063cf26d4a884b8906ac8f91c9ba66e17b6b5431/CMakeLists.txt#L51-L53 and https://github.com/UCL/STIR/blob/8fb1e90ed7cd61b8570ad5287587ccc9d4bd6cd6/src/cmake/STIRConfig.h.in#L37

However, it doesn't seem possible to compare strings with the preprocessor (or a

[2020-04-26 07:15] KrisThielemans commented on #639
This problem was already solved in #574. Indeed, it is only the non-Devel-build job that were failing. sorry.

The problem is that SIRF 2.1 doesn't work with (final) STIR 4.0.0, not a surprise. So, we need to bump the SIRF version as well in this PR

[2020-04-26 07:16] #639 closed

[2020-04-26 21:02] KrisThielemans opened #640 "ListmodeToSinograms:get_time_at_which_prompt_rate... has wrong name"
This function actually compares the prompt-count with the argument, not the prompt rate (which is counts/s).

If we keep comparing to prompt-count, then it needs to be renamed, and the argument type needs to change from float to `unsigned long`.

[2020-04-27 11:21] KrisThielemans opened #641 "occasional Bad file descriptor in cGadgetron"
This job https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/679959452#L16334
from https://github.com/SyneRBI/SIRF-SuperBuild/pull/377 (which is a `DEVEL` build) fails, while others are fine. The error is in the MR test
[code]
I'll rerun the job, as I guess this won't happen again, but it is worrying nevertheless.

@evgueni-ovtchinnikov any ideas?

[2020-04-27 11:43] evgueni-ovtchinnikov commented on #641
I have seen this error message in Travis logs many times, but the reported error never ever happened locally, so impossible to investigate, I am afraid.

[2020-04-27 12:11] #567 closed

[2020-04-28 07:00] KrisThielemans commented on #637
This seems to have disappeared, even though the only change in #638 was making verbose output the default. As there are no job failures anymore, I'll close this.

[2020-04-28 07:03] KrisThielemans commented on #555
- [ ] min/max threshold (#643)

[2020-04-29 08:21] KrisThielemans commented on #637
@AnderBiguri We have [one](https://travis-ci.org/github/SyneRBI/SIRF/jobs/680428578#L26536) with a failure
[code]
seems indeed that our threshold is just too optimistisc. Change it to 0.0002?

[2020-04-29 14:10] #637 closed

[2020-04-29 15:02] johannesmayer commented on #641
I get this one too from time to time

[2020-04-29 16:14] evgueni-ovtchinnikov opened #647 "Release 2.2.0-rc.1 checklist"
## Release Checklist
[code]

1. Submodules (within SIRF)
  - [x] tag data
    + `git submodule update` # **should not complain**
    + `cd data && git tag -a v$VER -m "version $VER" && git push --tags && cd ..`
    + `git status`  # **should not list `data` as modified**
2. SIRF
  - [x] update `CHANGES.md`
  - [x] update `NOTICE.txt`
  - [x] update version numbers in [SIRF/CMakeLists.txt](https://

[2020-04-29 17:27] KrisThielemans commented on #641
hmmm. this is going to be tough then. Any ideas for writing some debugging checks and doing a special test-run with 1000 tests and see when it fails?

[2020-04-30 09:05] AnderBiguri commented on #632
@KrisThielemans I realized I did not answer this. Do you mean if `get_dimensions` is compatible with `dimensions` ? It is not, the first returns an array, second a tuple.  However, depending on its usage within the code, a change may not have an influence.

[2020-05-01 09:38] rijobro commented on #640
so it's actually the cumulative number of counts so far?

[2020-05-01 09:39] rijobro commented on #640
ahh prompts per count?

[2020-05-05 09:10] #640 closed

[2020-05-05 09:49] rijobro opened #650 "STIR python no output"
I'm running a reconstruction that's taking much longer than expected. I can see all 28 cores working at 100%, so something must be going wrong.

SIRF-STIR uses an `int` - the higher the value, the more output. I put it all the way up to 10, which is higher than any of the STIR verbosity values, so everything should be being printed, including projection feedback. However, I only see the SIRF outpu

[2020-05-05 11:47] KrisThielemans commented on #650
impossible to know with this amount of information.

Obviously, will depend on what you did with the redirect, and where the files are. Maybe you have a mistake in the NiftyPETSTIR stuff regarding verbosity?

[2020-05-05 14:36] rijobro commented on #650
I noticed it in the ctests as well, but realised that it's because the adjoint and niftypet tests were setting verbosity to `0`. PR here: https://github.com/SyneRBI/SIRF/pull/651.

Doesn't solve my problem, unfortunately, where I haven't used the `set_verbosity` method.

What does this mean?

[2020-05-05 14:40] KrisThielemans commented on #650
do you use `MessageRedirector`? If not, I don't know what its default values are. If you do, output will be in the relevant files

[2020-05-05 14:44] AnderBiguri commented on #650
Just about the adjoint test verbosity I am afraid. Nothing to do with this. Sorry :(

[2020-05-05 14:50] rijobro commented on #650
Thanks, the problem was that I was using the following. I'm confused as to why I ever saw output, but glad it's solved.

[code]

[2020-05-05 14:50] #650 closed

[2020-05-08 08:15] KrisThielemans opened #653 "should Python interface use XArray?"
on mailing list:

ITK 5.1 is working towards ITK-numpy improvements.
https://discourse.itk.org/t/itk-5-1-release-candidate-3-available-for-testing/2914

I noticed that they are also trying to support XArray, which seems essentially a numpy array + add-ons for labels etc
https://xarray.pydata.org/en/stable/why-xarray.html

Some other ITK discussions mentioning other libraries.
https://discourse.itk

[2020-05-12 11:20] evgueni-ovtchinnikov opened #654 "KOSMAPOSLReconstructor.set_up() failure"
In demo `hkem_reconstruction.py`,  `KOSMAPOSLReconstructor.set_up()` fails with error message
[code]
apparently thrown by `stir::IterativeReconstruction::post_processing()`

[2020-05-12 12:30] evgueni-ovtchinnikov commented on #654
must be something to do with VM, works ok on Windows

[2020-05-12 13:00] KrisThielemans commented on #654
that would be weird. Are you sure your VM STIR was updated to 4.0.1?

[2020-05-12 13:02] KrisThielemans commented on #654
`update_VM.sh -t origin/master` would do the whole thing possibly, although with probably with the problem of the STIR tag, so `rm -rf ~/devel/buildVM/sources/STIR` first.

[2020-05-12 21:08] KrisThielemans commented on #654
confirmed on my updated VM.

[2020-05-13 07:43] KrisThielemans commented on #654
@evgueni-ovtchinnikov can you please clarify the calling sequence here? I can't immediately find where `post_processing` is called. Do we do that because STIR's `KOSMAPOSLReconstruction::set_up` is incomplete? It does look that way.

Do you know if it is thrown in `stir::IterativeReconstruction::post_processing()` or further in the chain? (e.g. `stir::KOSMAPOSLReconstruction::post_processing()`)?

[2020-05-13 09:27] evgueni-ovtchinnikov commented on #654
`KOSMAPOSLReconstruction::post_processing` is supposed to read anatomical images, but their filenames are empty.

[2020-05-13 09:32] KrisThielemans commented on #654
ok. if you'd be able to point to the line, it would help @danieldeidda

Would resolving https://github.com/UCL/STIR/issues/537 solve the SIRF problem? (i.e. we'd no longer call `post_processing`)

[2020-05-13 09:42] evgueni-ovtchinnikov commented on #654
@danieldeidda line 224 in `KOSMAPOSLReconstruction.cxx` fails to read from file with empty name.

[2020-05-13 09:49] danieldeidda commented on #654
Could it be because that member is now a vector? in the parfile we need to put the name inside {}

[2020-05-13 11:20] KrisThielemans commented on #654
@evgueni-ovtchinnikov could you try with https://github.com/UCL/STIR/pull/540?

[2020-05-13 11:20] KrisThielemans commented on #654
There's also the SIRF-Exercises I guess

[2020-05-13 11:45] evgueni-ovtchinnikov commented on #654
But that line in `post_processing` that throws the error is still there, and nothing added above it - why would it not throw now?

@danieldeidda: have you run `hkem_reconstruction.py` in `SIRF/examples/Python/PET`?

[2020-05-13 12:23] KrisThielemans commented on #654
indeed, but you should no longer call it. You should just call set_up.

[2020-05-13 14:19] evgueni-ovtchinnikov commented on #654
if `post_processing` is not called, line 224 is not executed indeed - and `anatomical_prior_sptr` remains empty, causing seg fault in `set_up` when `estimate_stand_dev_for_anatomical_image` is called.

[2020-05-13 14:24] KrisThielemans commented on #654
ok. @danieldeidda your `set_up` should check if images/data are initialised properly. This might be tied with `set_defaults`.
For the SIRF demo, this seems to mean that there should be a call to `set_anatomical_image` (or whatever its called) before `set_up`?

[2020-05-13 15:32] danieldeidda commented on #654
yes this should be called before set_up():

set_anatomical_image_filenames(const std::string &arg)
{
  this->anatomical_image_filenames[0]  = arg;
}
@evgueni-ovtchinnikov sorry I haven't run anything on SIRF.

[2020-05-13 15:35] danieldeidda commented on #654
set_defaults() initialise the filename vector like the following:

`this->anatomical_image_filenames.push_back("");`

[2020-05-13 15:41] KrisThielemans opened #656 "NiftiImageData::dump_header extras"
can we print `qform_code`, `sform_code`, `srow_x`, `y`, `z` as well? Useful for getting a better overview of what's in the header (some programs need sform).

[2020-05-13 15:57] rijobro commented on #656
Attaching the [output](https://github.com/SyneRBI/SIRF/files/4623137/output-sirf_print_nifti_info.txt) from running `sirf_print_nifti_info`.

It contains `qform_code`, `sform_code`. From looking at the [documentation](https://nifti.nimh.nih.gov/pub/dist/src/niftilib/nifti1.h), I think the `srow_x`, `y`, `z` are the separate rows of the `sto_ijk`, which are also output. Is that what you were lookin

[2020-05-13 16:22] evgueni-ovtchinnikov commented on #654
In SIRF, we do not use filenames, we use SIRF's `KOSMAPOSLReconstructor` method `set_anatomical_prior` passing the anatomical image as the argument of type `ImageData`.

This is actually done in `hkem_reconstruction.py`, but you made few mistakes, or, rather, repeated the same mistake: for an `std::vector` `v` the assignment `v[i] = value` can only be (safely) used if `i` is less than the current

[2020-05-13 16:35] KrisThielemans commented on #654
or (probably safer), have a method that first says how many there are. Then in the `set` function, check if you're not going out-of-bounds. could (later) have a method `set_anatomical_priors_sptrs(std::vector<...>) to set them all in one go. (maybe you have it already).

However, we should continue suggestions on this in the STIR PR.

[2020-05-13 16:38] KrisThielemans commented on #656
ok. great. Apologies!

@ALEXJAZZ008008 this could be useful for you. `sirf_print_info_info` executable would do this, but you can also call it from python.

[2020-05-13 16:38] #656 closed

[2020-05-13 16:40] evgueni-ovtchinnikov commented on #654
At any rate, it does not look to me like the use of several anatomical images has been well thought
through. I suggest we stick to STIR 4.0.0 for this SIRF release.

[2020-05-13 16:48] KrisThielemans commented on #654
I certainly didn't want to create a lot of stuff now to fix multi-image support in `stir::KOSMAPOSLReconstruction`, or even let SIRF support it.

I was after a minimal update that would do that. Maybe that isn't possible.

We cannot stick to STIR 4.0.0 as it's broken. We could stick to STIR 4.0.1 but then will have to say that `sirf::KOSMAPOSL` is currently broken (due to STIR changes).

summary:

[2020-05-13 16:51] evgueni-ovtchinnikov commented on #654
In that case let us do the quick fix of 4.0.1 that I suggested.

[2020-05-14 17:14] rijobro opened #658 "Jacobian of b-spline coefficients"
We've discussed this several times, but for motion estimation algorithms, we're going to need to be able to calculate (or apply) the Jacobian of our motion b-spline coefficients.

This should be possible with SuPreMo, with a bit of refactoring. Alternatively, we could go down the VTK/ITK route, as discussed on their respective discourses [here](https://discourse.vtk.org/t/jacobian-of-b-spline-coef

[2020-05-14 17:17] rijobro commented on #658
From the VTK discourse:

The `vtkBSplineTransform::InternalTransformDerivative()` method does this, it is declared in the `vtkAbstractTransform` base class:
[code]

This method computes the partial derivatives of the output coords with respect to the input coords. It’s called “Internal” just because it’s primary purpose is to be used internally by other `vtkAbstractTransform` methods, but it’s a p

[2020-05-14 17:27] rijobro commented on #658
And from ITK discourse:

A few pointers:

itk::BSplineTransform ComputeJacobianFromBSplineWeightsWithRespectToPosition
itk::BSplineTransform ComputeJacobianWithRespectToParameters
itk::TransformToDisplacementFieldFilter
itk::DisplacementFieldJacobianDeterminantFilter

[2020-05-15 15:49] KrisThielemans commented on #654
@evgueni-ovtchinnikov would you be able to try with @danieldeidda's current https://github.com/UCL/STIR/pull/540

[2020-05-19 17:17] KrisThielemans commented on #372
@rijobro I believe this was fixed? If so, can you close mentioning the relevant PR?

[2020-05-19 17:29] KrisThielemans opened #659 "building SIRF picks-up old installed files"
Order of include directories is currently problematic. Checking with `make VERBOSE=ON` shows that `cstir`  is compiled with an order like `various-sirf-dirs .../install/include .../hdf5/... sirf-reg-dirs STIR-install-dir/include ...`

This means that if there's an old STIR version in `.../install/include`, it gets picked up before the actual `STIR-install-dir/include` that I pointed to.

I guess (

[2020-05-19 17:35] KrisThielemans opened #660 "copyright dates need updating"
I see in many files 2018 copyright or similar. that seems unlikely.

Can we have a look and update this after 2.2-rc.1?

[2020-05-19 18:08] KrisThielemans commented on #654
@evgueni-ovtchinnikov still has a problem https://github.com/UCL/STIR/pull/540#issuecomment-630762273

This is caused by calling `post_processing`
https://github.com/SyneRBI/SIRF/blob/dcf7a4d37153f3d6334386255767e7d777f0aee6/src/xSTIR/cSTIR/cstir.cpp#L728-L729
which @danieldeidda worked hard to remove the need for in https://github.com/UCL/STIR/pull/540. Indeed, `KOSMAPOSL::post_processing` will f

[2020-05-19 18:20] KrisThielemans opened #661 "setup as opposed to set_up"
Nearly everywhere in SIRF we use `set_up`, which is as indented. However, there's a few places where `setup` is used:
- https://github.com/SyneRBI/SIRF/blob/7bc0d01cd8c74a8b9b6817f371957213e61f5ac9/src/xSTIR/cSTIR/include/sirf/STIR/stir_x.h#L600
is essentially providing a method with the alternative name. This is fine, but should be removed in SIRF 3.0, but has to be documented now as deprecated.

[2020-05-19 20:30] KrisThielemans opened #662 "Running SIRF examples on Travis?"
would it be possible to run the non-interactive Python demos on Travis. They tend to create figures, which probably will fail on travis, but maybe there's a way to just let this pass? It would allow us to do a minimal automatic test on them.

[2020-05-20 08:26] rijobro commented on #659
For your last point, we've already made the change such that we don't use `target_include_directories` and only use the target `ISMRMRD::ISMRMRD`:

https://github.com/SyneRBI/SIRF/blob/dcf7a4d37153f3d6334386255767e7d777f0aee6/src/xGadgetron/cGadgetron/CMakeLists.txt#L75

[2020-05-20 08:32] rijobro commented on #659
The problem is that the SB installs everything into the same location. We could modify the SB installation method for better compartmentalisation? The `env_ccppetmr.sh` would have to be slightly more complicated, but everything should be tidier. E.g,:

[code]

[2020-05-20 08:34] rijobro commented on #659
Lastly, could this be the problematic bit of code? Put in by me 17 months ago apparently. Not sure why it uses the install interface as we don't currently install our headers.

https://github.com/SyneRBI/SIRF/blob/dcf7a4d37153f3d6334386255767e7d777f0aee6/src/xSTIR/cSTIR/CMakeLists.txt#L39-L42

[2020-05-20 08:54] KrisThielemans commented on #659
yep, but we still have the target_include_directories in L47 above. Not needed? (if we can remove it, it'd have to be moved inside the `if(WIN32)` for now).

[2020-05-20 08:56] KrisThielemans commented on #659
we could do, and probably should be versioning as well, although I feel that that kind of thing should be handled by the packages. In any case I think this is a SIRF problem. SIRF itself has no control where things are going to be installed.

[2020-05-20 08:56] rijobro commented on #372
Closed with https://github.com/SyneRBI/SIRF/pull/655

[2020-05-20 08:56] #372 closed

[2020-05-20 09:00] KrisThielemans commented on #659
No, I don't think so. The `INSTALL_INTERFACE` stuff is there for exported CMake config (which we don't right now, but will soon). It is ignored during build time.

Another reason why I don't think this is the case is that I was originally building SIRF with `BUILD_Gadgetron=OFF`, therefore not including `gadgetron`. I didn't have this problem then. (I had another one down the line, but not relevan

[2020-05-20 09:06] danieldeidda commented on #654
I am a bit confused I thought the post_process() was not going to be called by SIRF. since anatomical_image_filenames is never defined in SIRF but sigm_m does, this check is always goin to throw that error. Should we remove it? we have the same with the anatomical prior in set_up()

[2020-05-20 09:15] KrisThielemans commented on #659
`cstir` depends on `cgadgetron` because of https://github.com/SyneRBI/SIRF/blob/dcf7a4d37153f3d6334386255767e7d777f0aee6/src/common/CMakeLists.txt#L42-L44
I think this is #622, so possibly the current issue will disapper once we fix that.

[2020-05-20 09:28] KrisThielemans commented on #654
@danieldeidda yes indeed. that was my intention, but as the call to `post_process` is actually quite high up in the hierarchy, I'm not sure if removing it will not break something else. (We've only fairly recently tried to distinguish better between `post_processing` and `set_up` in STIR).

I've removed the call to `post_process`. Then `hkem_reconstruction.py` seems to work (at least, it doesn't f

[2020-05-20 09:49] rijobro commented on #659
Sorry, for your last code snippet, why does this mean that `cstir` depends on `cgadgetron`? I would have thought it meant that `Syn` depends on `cstir` and `cgadgetron`, but not that they depend on each other.

[2020-05-20 09:52] KrisThielemans commented on #654
I've gone through all `stir::*Reconstruction` post_processing functions. None of them does anything "essential" anymore that will break things if we don't call it. There's  2 issues https://github.com/UCL/STIR/issues/545 https://github.com/UCL/STIR/issues/543 which mean that it will be more unsafe not to call `post_processing` from SIRF, but I feel we should go ahead now, and fix those STIR issues

[2020-05-21 17:40] KrisThielemans opened #664 "OSSPS writes _precomputed_denominator.* in current directory"
This happens in `examples/PET/ossps_reconstruction.py` presumably there is no output filename. Ideally this would be switched off from SIRF.

[2020-05-21 17:41] KrisThielemans commented on #654
I've run the demos. this all looks fine to me.

[2020-05-22 08:01] evgueni-ovtchinnikov opened #665 "Build errors on Windows 10"
building SIRF `master` on my Windows 10 laptop produces lots of error messages like this one:
[code]

[2020-05-22 08:28] evgueni-ovtchinnikov commented on #664
I actually see `reconstructed_image_precomputed_denominator.*` both on Windows and VM.

The option to switch this output off must be introduced in `OSSPSReconstruction<TargetT>:: precompute_denominator_of_conditioner_without_penalty()`  - e.g. do not write if prefix is empty, then the output could be switched off by SIRF.

[2020-05-22 08:52] #661 closed

[2020-05-22 08:53] rijobro commented on #665
Have you successfully built the registration component on Windows before?

The `get_inverse_impl_nr` and `get_inverse_impl_vtk` makes it look like it's linked to #657, but without a Windows machine, that's as close as I can get to figuring out what's wrong.

Do you have VTK on your Windows machine? I would only expect `get_inverse_impl_vtk` to get built if VTK is present. (It's not currently part

[2020-05-22 09:50] KrisThielemans commented on #654
@evgueni-ovtchinnikov I've merged the STIR PR onto STIR release_4.0 and create #666 (ominous number?). Could you please check?

[2020-05-22 10:10] KrisThielemans commented on #664
ok. please create a STIR issue, but don't tack it yet!

[2020-05-22 11:01] KrisThielemans opened #667 "travis fails due to libvtk7.dev"
#657 causes Travis failures [with](https://travis-ci.org/github/SyneRBI/SIRF/jobs/689973341#L1558)
[code]
Travis jobs seem all currently to be running with `xenial` which doesn't have that package.
https://packages.ubuntu.com/search?keywords=libvtk7-dev

I suggest to change default Travis Linux dist to `bionic` but keep 1 or 2 jobs on `xenial`. This is done in the SuperBuild as well. (search for `

[2020-05-22 11:16] KrisThielemans commented on #654
Closed with https://github.com/SyneRBI/SIRF/commit/d6e4fe0105b9289e29648f697bdba6a3d0b4fb64 and https://github.com/UCL/STIR/pull/540.

However, I believe this will mean that `sirf::KOSMAPOSL` will now require STIR 4.0.2 (to be released soon), as otherwise it will fail.

[2020-05-22 11:16] #654 closed

[2020-05-22 11:25] KrisThielemans opened #668 "KOSMAPOSL needs STIR 4.0.2"
_Originally posted by @KrisThielemans in https://github.com/SyneRBI/SIRF/issues/654#issuecomment-632638984_

Unfortunately, it seems hard to require this version in our CMakeLists.txt, as STIR `master` is currently out-of-date. I therefore suggest that we keep our requirement to STIR 4.0, but update the SIRF-SuperBuild. As soon as STIR 4.1 is out, we can require that.

[2020-05-22 12:49] rijobro commented on #667
Sorry, not sure how I didn't notice that one. PR incoming.

[2020-05-23 14:06] #667 closed

[2020-05-25 18:39] AnderBiguri opened #670 "Reference vs Float image NiftyF3dSym"
I noticed that when I do

[code]

The text printed says that `image2` is being used as reference image and `image1` as floating image.

Is this expected (i.e. sirf reference is different than NiftyReg reference) or is it a bug somewhere (maybe printing?)?.

[2020-05-25 18:41] ALEXJAZZ008008 commented on #670
I also see the same problems and have to manually flip it in my
applications. It is the other way around in Aladin

On Mon, 25 May 2020, 19:39 Biguri, <notifications@github.com> wrote:

[2020-05-25 20:53] ALEXJAZZ008008 opened #672 "Loading a deformation to array, filling the deformation with the array and then writing it results in a change to the deformation"
If I load a deformation field, convert it to array, fill a new deformation object loaded from the same file as the original deformation and then write the deformation again it does not result in the same deformation as the original deformation field.

Here is the code I used to test it:
[code]

Here is an example of the change to the volume:

![image](https://user-images.githubusercontent.com/2792

[2020-05-26 07:58] #670 closed

[2020-05-26 09:20] rijobro commented on #672
Very strange. Does the problem still occur if you use one object (rather than filling to another)?

[code]

[2020-05-26 09:26] rijobro commented on #672
Also, could you create a separate issue for the reader? I imagine they're unrelated.

[2020-05-26 11:07] AnderBiguri opened #673 "Deformation vs Displacement field docs"
I see that you can get both, and with a chat with @KrisThielemans seems that Deformation fields will have absolute locations of sampling points while Displacement fields will have relative ones.

I have not seen this documented anywhere in SIRF, maybe we should add it somewhere? Either the classes themselves or at least in the samples?

[2020-05-26 13:03] rijobro commented on #673
Yes, something like this:
[code]
Would you be able to add in the documentation where you see fit? If it belongs in the classes, then it would be `NiftiImageData3DDeformation.h`, `NiftiImageData3DDisplacement.h`, and the corresponding classes in Matlab and Python.

[2020-05-26 13:32] AnderBiguri commented on #673
@rijobro Sure I'll have a look. Maybe in the place where they are obtained/loaded/saved, somewhere easily accessible from the python side, getting into the C code for variable documentation seems too deep

[2020-05-26 13:49] KrisThielemans commented on #673
Would need to be in .h as well. Not everybody is python or Matlab.

Alternatively could be in the userguide., Assuming that amidst actually reads it...

[2020-05-26 14:46] rijobro commented on #673
@AnderBiguri thanks. I would put them in the class definitions, so 6 places in total (C++, M, P for each def, disp). User guide too would be good, since it can just be copied and pasted.

[2020-05-26 15:44] KrisThielemans commented on #665
I have the opposite:
[code]
and same errors for `NiftiImageData3DDisplacement.cpp`.

This is with `USE_ITK=OFF` in the SuperBuild. Checking the SIRF CMakeCache.txt it has
[code]

[2020-05-26 18:29] rijobro commented on #665
The VTK component is independent of the ITK component. So you could in theory have STIR with ITK and no VTK, or vice versa. It's really strange that you have `VTK_DIR=VTK_DIR-NOTFOUND`, yet `get_inverse_impl_vtk` is getting compiled.

[2020-05-26 18:34] rijobro commented on #665
When you break the error message up, my understanding is that it can't build:
[code]
because it `has already been instantiated`:
[code]
The latter looks like the build directory to me. Very confusing, but I can't really help as I have no Windows experience.

[2020-05-27 07:25] KrisThielemans opened #674 "exception handling in cReg"
On windows, I'm getting a warning (there might be more)
[code]
lines are https://github.com/SyneRBI/SIRF/blob/0732b764bcf4a87cd701427738b56d63913c14e0/src/Registration/cReg/cReg.cpp#L736-L755
I guess this needs to be
[code]

[2020-05-27 07:52] KrisThielemans commented on #665
[doc on error c2908](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-2/compiler-error-c2908?view=vs-2019) (not that it helps).

By the way the `.vcxproj` is the "project file" for VS (equivalent to a "Makefile").

[2020-05-27 08:47] KrisThielemans commented on #665
This statement is incorrect. `get_inverse_impl_vtk` always gets built, it just throws if VTI isn't found at configure-time. This is a bit confusing, but not the cause of this error.

[2020-05-27 08:58] KrisThielemans commented on #665
I've tried many variations, but not with success. For instance, I've moved all implementations to the `.cpp`, in particular moving the implementation of `get_inverse` after the ones for `get_inverse_impl*`. I've also got rid of `get_inverse_impl_nr` in `NonRigidTransformation` and replaced it with a single `NonRigidTransformation* get_inverse_impl()`. This just pushed the problem to that function.

[2020-05-27 09:05] rijobro commented on #665
Hi, two possible sources of the source of the error:

1. In https://github.com/SyneRBI/SIRF/pull/657, I used covariance (à la https://github.com/SyneRBI/SIRF/pull/277). I wonder if I did something wrong there, I'll have a check.
2. Could the problems be from multiple inheritance? Maybe things are being compiled in a funny order.

[2020-05-27 09:11] KrisThielemans commented on #665
1. I can't see anything wrong in the code really, but that doesn't mean it isn't there of course.
2. You are using multiple inheritance but with `NiftiImageData3DTensor` which doesn't seem to be involved.

a mystery.

[2020-05-27 09:12] KrisThielemans opened #675 "Transformation hierarchy needs clone()"
Not used at the moment, but surely would be useful to have?

[2020-05-27 09:13] KrisThielemans commented on #675
Warning: might hit the problems with Visual Studio in #665.

[2020-05-27 09:15] rijobro commented on #665
Well `NiftiImageData3DDeformation` and `NiftiImageData3DDisplacement` inherit from `NiftiImageData3DTensor`, so they still both inherit from `DataContainer` and `Transformation`. I have no idea if this could cause a problem, just throwing ideas out there.

[2020-05-27 09:19] rijobro commented on #675
I could see this one being tricky. We might run into the diamond problem if both `Transformation` and `ImageData` have `clone` methods.

[2020-05-27 09:58] KrisThielemans commented on #665
I've created a cut-down version of the code in an attempt to simplify things. https://github.com/KrisThielemans/VStest

Of course, with this one, VS is happy...

@evgueni-ovtchinnikov maybe you could try the VStest? If it works for you, could you try to beef it up until we reproduce the problem?

[2020-05-27 11:47] KrisThielemans commented on #665
Confirmed that disabling all of this in `NonRigidTransform` (which then becomes an empty class) makes SIRF compile on VS. It's a bit ugly, but would allow us to move on. @rijobro, ok ? I can do a PR

[2020-05-27 11:55] rijobro commented on #665
Should we put it inside of an `ifndef _WIN32`? That way, it's only commented out for windows.

[2020-05-27 12:43] #674 closed

[2020-05-27 16:41] AnderBiguri opened #678 "sirf_registration Reg/Nifti engine"
When you do `sirf_registration -h` it suggests that image engine options are `Reg/STIR/Gadgetron`, but `Reg`  returns `sirf_registration: unknown image engine - Reg.`

It works if you instead use `Nifti`. Either the docs, or the option would need to change for these to match.

[2020-05-27 16:51] #678 closed

[2020-05-27 16:58] AnderBiguri opened #680 "f3d permuted output"
When running the f3d registration, I noticed that my outputs/displacement/deformations are X-Y permuted. For a given identity transformation I get correct Displacement fields, they are just non-zero, they describe a X-Y permutation. You can see the output image being permuted too.

You can test this with:

[code]
I can reproduce the same results with different images (i.e. I have not only tried an

[2020-05-27 17:25] KrisThielemans commented on #680
weird and worrying.

Can you confirm that this image is the displacement field output (I guess so, as z=0)? Is your registered output image ok? What happens if you use the output disp field to resample the "floating"?

Are the niftyreg disp fields zero?

[2020-05-27 17:28] #665 closed

[2020-05-27 17:35] AnderBiguri commented on #680
Answers:

1) Yes, definitely displacement (and not deformation), but I can see the permute in the deformation too.
2) Yes, the image looks OK, but permuted. It is a clean permute, as the displacement fields suggest.
3) Have not tested, but seeing the displacement fields, if the resampler does not create a permuted image, then that would mean that there is a bug in the resampler, isn't it?
4) Only

[2020-05-27 18:15] rijobro commented on #680
Hi. Looks like the problem is in the symmetric part of f3d unfortunately. Add and remove `-sym` (undocumented) to the following to see the effect:
[code]
Since I wrapped the symmetric version of the algorithm, it seems we always have that problem.

I switched our wrapped algorithm from the symmetric to non-symmetric version, and the problem disappeared.

Solutions include:

1. bug hunting in Nifty

[2020-05-27 18:32] KrisThielemans commented on #680
ouch. if it's a bug in niftyreg, we should create an issue on their github (whichever is the currently most active, if any). and then pray...

[2020-05-27 18:33] rijobro commented on #680
Done - https://github.com/KCL-BMEIS/niftyreg/issues/71

[2020-05-27 18:39] rijobro commented on #680
In the meantime, to fix this I'll add an option to use the symmetric component or not. Then, until the bug is fixed the non-symmetric version can be used.

[2020-05-27 19:19] KrisThielemans commented on #680
great. would be good to add a test-case for this. @AnderBiguri should be easy to use your script as a basis. It's a python test, but better that than nothing.

[2020-05-27 19:22] rijobro commented on #680
I've added a test to the PR. It fails for the old implementation and passes when symmetric is off.

[2020-05-27 22:03] ALEXJAZZ008008 commented on #672
I tested with the following code and had the same result:

[code]

[2020-05-27 22:04] ALEXJAZZ008008 commented on #672
I think the reader isn't an issue as such, it's because the intent code is not set in my DVFs, do you think it would be better to throw a warning rather than an exception in this circumstance? The data is the same and I know it is valid, it's just a flag

[2020-05-27 22:24] KrisThielemans commented on #672
I'm afraid I prefer throwing an error. it prevents people doing the wrong thing. Possibly some flag could be used to change the error into a warning, but that seems hard to implement. Suggestions welcome... Unless of course very few people set the `intent_code`, in which case we'd have to revise this.

But this discussion doesn't belong in this issue of course, so if we continue it, please create

[2020-05-28 08:23] rijobro commented on #672
I've replicated the error myself. Seems not to occur with a scalar image, just with tensors. Implies I do something wrong with the order of indexing there. I'll fix it now.

I remember making some modifications around the time of the last hackathon in Abbingdon, so I must have overlooked tensors.

I've added some test cases, so shouldn't happen again once it's fixed.

[2020-05-28 09:31] #680 closed

[2020-05-28 09:34] AnderBiguri commented on #680
@rijobro should we have an open issue saying that f3d only wraps/exposes non symetric until NiftyReg fixes their stuff?

[2020-05-28 09:35] rijobro commented on #680
Sure, would you mind?

[2020-05-28 09:37] rijobro opened #683 "Drop deprecated NiftyResample::process at next major release"

[2020-05-28 09:37] AnderBiguri opened #684 "sirf.Reg only wraps non symetrical version of f3d"
This is due to a bug in NiftyReg. Would need them to fix it to wrap both.

More info in #680

[2020-05-28 09:56] KrisThielemans commented on #660
@KrisThielemans  to create list of files modified in the year using `git`.

Also updated header to reflect SyneRBI

[2020-05-28 13:49] #672 closed

[2020-05-28 14:04] rijobro opened #685 "HDF CXX"
New CMake error when building on OSX:
[code]
I wonder if it could be related to https://github.com/UCL/STIR/pull/550? Just a guess.

[2020-05-28 14:07] rijobro commented on #685
In hindsight, I guess it can't be related to UCL/STIR#550, since that's on `master` branch and I'm building on top of `release_4`...

[2020-05-28 14:13] rijobro commented on #685
Problem also present on ubuntu.

[2020-05-28 14:20] KrisThielemans commented on #685
building how?

likely cause https://github.com/SyneRBI/SIRF-SuperBuild/pull/402 (but the PR was green)

could have to do `find_package(HDF5 COMPONENTS C CXX)`, but weird you're getting this now

[2020-05-28 14:23] rijobro commented on #685
On both OSX and ubuntu, they are part of the superbuild, but I'm currently installing STIR and SIRF manually. i.e. `cd SB-build && cd builds/STIR/build && make -j install && cd ../../SIRF/build && make -j install`.

Disabling HDF5 support in STIR seems to have enabled both the OSX and ubuntu STIR & SIRF compilations to complete successfully.

[2020-05-28 14:26] KrisThielemans commented on #685
hmm. something in the `STIRConfig.cmake` then. It'll do a `find_package(HDF5)` I guess.

[2020-05-28 14:27] rijobro commented on #685
I think I use system HDF5 for both if that helps narrow it down.

[2020-05-28 14:43] KrisThielemans commented on #685
i can't look at this now. What's in the `STIRConfig.cmake` in `STIR_DIRS`?

[2020-05-28 14:45] rijobro commented on #685
Relevant bit in `STIRConfig.cmake` looks like this:
[code]

[2020-05-28 17:44] rijobro opened #686 "virtual methods not working correctly when passing between wrapped (python) and C++"
I have the following code:
[code]
The `axpby` goes to the method in `DataContainer`, in `SIRF.py`. That method then calls `cSIRF_axpby` in `csirf.cpp`. `DataHandles` are cast to `DataContainer`, and then the correct virtual implementation of `axpby` is chosen (e.g., `PETAcquisitionData`).

I know that `out` is `ProjDataInMemory`, and so should go to the virtual function there (`ProjDataInMemory::a

[2020-05-28 19:28] paskino commented on #685
The CMake error seems to imply that the version of HDF5 found is not suitable. What is the version found? Or I misunderstand?

Does it work if we build HDF5 as part of SuperBuild?

[2020-05-29 09:27] rijobro commented on #686
Interestingly, they successfully cast to `ProjDataFromStream`, but not `ProjDataInMemory`:
[code]
This is despite the fact that the constructor inside of `PETAcquisitionDataInMemory` creates a `ProjDataInMemory`:
[code]

[2020-05-29 09:38] rijobro commented on #686
Ah, I'm starting to get somewhere. The constructor for `PETAcquisitionData` in python creates a `PETAcquisitionDataInFile` on the C++ level, which creates a `ProjDataFromStream`, not a `ProjDataInMemory`.

Still not sure how to fix my problem though, suppose I would need to get SIRF to convert the `ProjDataFromStream` to `ProjDataInMemory`.

[2020-05-29 10:41] rijobro commented on #686
I realise now that there is a constructor for `ProjDataInMemory` that takes a `ProjData` as argument so I suppose that's what I need!

[2020-05-29 10:47] KrisThielemans commented on #686
but this should depend on the flag "in memory"?

but not always.

this needs @evgueni-ovtchinnikov

[2020-05-29 10:56] evgueni-ovtchinnikov opened #687 "MATLAB crashes on osem_reconstruction.m"
MATLAB crashes on osem_reconstruction.m.

I managed to trace the source of trouble to the call `this->compute_sensitivities();` in `PoissonLogLikelihoodWithLinearModelForMean<TargetT>::set_up` (line 318 in `PoissonLogLikelihoodWithLinearModelForMean.cxx`).

Apparent reason is a conflict between multithreading in STIR and MATLAB - if STIR is built without OpenMP, the script runs ok.

Python script

[2020-05-29 11:14] rijobro commented on #686
Sorry, it turns out the name of this issue is incorrect.

@evgueni-ovtchinnikov PR #688 gives the functionality I desire (sinos are now stored as `ProjDataInMemory` if `storage_scheme==memory`). Is it OK with you?

[2020-05-29 11:18] evgueni-ovtchinnikov commented on #686
PR #688 looks ok to me

[2020-05-29 11:48] KrisThielemans commented on #687
duplicate with previous issue I believe.

I really can't understand this. Unless you use `parfor` etc in Matlab, I can't see how Matlab's multi-threading would come into play. I can see conflicts on openmp DLLs of course...

[2020-05-29 11:48] KrisThielemans commented on #687
assuming this is on Windows?

[2020-05-29 11:49] evgueni-ovtchinnikov commented on #687
yes

[2020-05-29 11:55] rijobro commented on #687
My guess is that this is the source of the problems. Would potentially be fixed by building STIR using OpenMP DLLs to those provided by Matlab.

[2020-05-29 12:03] evgueni-ovtchinnikov commented on #687
should I remove `osem_reconstruction.m` for now and tag?

[2020-05-29 12:11] KrisThielemans commented on #687
probably can't be done, as no .h and .lib files available I guess. I'm not sure how this works on Windows with Visual Studio by the way (there isn't an equivalent of `libgomp` or so). There isn't anything relevant in `C:\Program Files\MATLAB\R2019a\bin\win64` for instance

[2020-05-29 12:12] rijobro commented on #687
@evgueni-ovtchinnikov no need to remove as it's not a problem with SIRF, but with your particular set up.

[2020-05-29 12:12] KrisThielemans commented on #687
this is a Windows-only problem as far as we know. We don't officially support it, let's not remove functionality therefore. In any case, removing a demo will not solve the problem.

[2020-05-29 12:14] KrisThielemans commented on #685
questions:
- do we currently disable STIR's HDF5 support by default in the SIRF-SuperBuild?
- I assume this is only with STIR post-release 4.0.x (i.e. after the merge of the Signa PR)?

If the answer is "yes" and "yes", there's no reason to delay 2.2 and go ahead with tagging

[2020-05-29 12:16] KrisThielemans commented on #687
@rijobro can you rerun CMake with `-DHDF5_FIND_DEBUG=ON`? Probably best to post a log file of the CMake run

[2020-05-29 12:17] KrisThielemans commented on #685
@rijobro can you run CMake with `-DHDF5_FIND_DEBUG=ON`? Post the CMake log as a file here

[2020-05-29 14:00] rijobro commented on #685
Enabled by default: `option(STIR_DISABLE_HDF5_SUPPORT "Disable STIR use of HDF5 libraries" OFF)`. Happy to switch it to `ON`.

[2020-05-29 14:16] KrisThielemans commented on #685
ok.  Please do that. there's nothing in SIRF currently that uses STIR's HDF5 support anyway.

I'm therefore postponing resolving this to 2.3. @evgueni-ovtchinnikov please tag SIRF but wait for the above for the SIRF-SuperBuild.

[2020-05-29 14:28] evgueni-ovtchinnikov commented on #685
tagged SIRF

[2020-05-29 14:44] evgueni-ovtchinnikov commented on #685
last tick in checklist section 2: we do not seem to have release candidates as Releases

[2020-05-29 14:46] KrisThielemans opened #690 "checklist : no Release for release candidates"
last tick in checklist section 2: we should not have release candidates as Releases

[2020-05-30 20:30] KrisThielemans commented on #690
other items that needs updating:
- no website updates for Release candidate
- ccp-petmr emails

[2020-06-01 08:59] AnderBiguri opened #692 "Can SIRF load a 3D sliced dicom CT image?"
i.e. a folder with N slices, each of them stored in a separated (e.g.) `.img` file.

I tried with `ImageData()` containers but I always get cryptic engine errors. I have a working version with `pydicom`, but I rather use SIRF now that I got into it.

PD: if you prefer me to ask the questions somewhere else (mailing list/slack) let me know.

[2020-06-01 09:09] AnderBiguri commented on #687
Not sure how much this helps, but there is some Staff Q&A about this on the Mathworks site, explaining that indeed there can be issues regarding libraries, as you are discussing in this thread.

https://uk.mathworks.com/matlabcentral/answers/237411-can-i-make-use-of-openmp-in-my-matlab-mex-files

[2020-06-01 09:22] rijobro commented on #692
Which `ImageData` are you using? `sirf.STIR.ImageData` or `sirf.Reg.ImageData`? Should be former of the two. What's the error?

[2020-06-01 09:24] rijobro commented on #692
Also if you have the SuperBuild set up to compile STIR executables and enable the nlohmann JSON support, you should have an executable called `ctac_to_mu_values`. I have no idea, but I wonder if that will take your `.img`s and return you a `.hv`.

[2020-06-01 09:34] AnderBiguri commented on #692
@rijobro `STIR.ImageData`, but tried `Reg` also, just in case.

about `ctac_to_mu_values`, that sounds good, but I do not want mu values, I want the CT image.

The error was:

[code]

However, as usual, writting the question up makes you come up with a solution. I was asking for `ImageData(path+"IM*")` so I could load up all the `IM{NUMBER}` images, but changing it to `"IM1"` loads all of them, no

[2020-06-01 09:35] KrisThielemans commented on #692
`ctac_to_mu_values` isn't relevant. It'll read in an image as normal STIR, and multiply with bilinear slope to convert HU to mu-values.

[2020-06-01 09:38] KrisThielemans commented on #692
Reason for letting STIR (and hence SIRF) use a single file is that you can have multiple series in a single dir. This way you can select. It would be possible to modify the STIR code (or maybe it has been done already?) to just give it a directory name, and pick the first file in there. If that's intuitive, please raise it as a STIR issue (but try it first to see if it doesn't work already!).

In

[2020-06-01 09:39] AnderBiguri commented on #692
@KrisThielemans I still do not have tested STIR on its own, so not sure I can do that check quickly.

This issue can be indeed closed.

[2020-06-01 09:39] #692 closed

[2020-06-01 09:41] KrisThielemans commented on #687
yup. that looks like a good find. In particular,

fun!

[2020-06-01 09:43] KrisThielemans commented on #692
you can do the test from SIRF
[code]

[2020-06-01 09:46] AnderBiguri commented on #692
@KrisThielemans Ah, apologies I though I already mentioned. That does not work from SIRF.

[2020-06-01 09:47] KrisThielemans commented on #692
Ok. If you think useful (and not dangerous), feel free to raise a stir issue

[2020-06-01 09:52] AnderBiguri commented on #692
@KrisThielemans to be honest, I have no idea how dangerous or not can this be, as I don't have a feel of how common is to have multiple dicom series in a folder and how hard it would be to check that on read. I'll leave it like it is now, until I have a better idea (or you/someone else decides to open the issue).

[2020-06-01 12:03] #673 closed

[2020-06-02 09:44] rijobro opened #695 "No checks on non-master PRs"
I wanted to create a `v3.0` branch and push changes that would break backwards compatibility there. However, it seems that Travis and Codacy don't work in this case. See here: https://github.com/SyneRBI/SIRF/pull/694.

Any thoughts?

[2020-06-02 11:18] KrisThielemans opened #696 "add other signature for stir.zoom_image"
at present we can only call `zoom_image` by specifying zoom-factors etc
https://github.com/SyneRBI/SIRF/blob/5a91543c7b82ce3e73296ffb9c5f683c8900eda1/src/xSTIR/pSTIR/STIR.py.in#L406
However, `stir::zoom_image` can also be called by giving a template-shape
https://github.com/UCL/STIR/blob/8428898a4f2c3a817d7482144974a3a5408e463f/src/include/stir/zoom.h#L202-L204

This is often more convenient, and

[2020-06-02 11:21] francescaleek opened #697 "geometrical info not updated post zoom_image()"
After zooming, `ImageData.shape()` and `ImageData.voxel_sizes()` update with new image details but `.get_geometrical_info()` retains the original image Spacing and Size.

[2020-06-02 11:26] rijobro commented on #697
Thanks for pointing it out. Fix inbound at #698.

[2020-06-02 12:57] AnderBiguri commented on #684
@rijobro  btw, the algorithm is still called `sirf.Reg.NiftyF3dSym`. Should that maybe be different now?

[2020-06-02 13:06] rijobro commented on #684
I'd rather keep it that way so that:

1. it doesn't break backwards compatibility; and
2. once the bug is fixed, it can be symmetric with the option to not be symmetric.

[2020-06-02 13:24] #697 closed

[2020-06-02 13:39] KrisThielemans commented on #695
you need to go into Travis And Codacy settings for the repo, and enable that branch there. We've disabled checks on all branches except a few, as otherwise we have double runs (for the PR and for the branch). Arguably it would be better to push branches to another clone, and only work via PRs, but fine.

[2020-06-02 15:09] rijobro commented on #695
Thanks, managed to turn Codacy on, but not sure about Travis. From the Travis [docs](https://docs.travis-ci.com/user/pull-requests/):

We have `Build Pushed Pull Requests` to `ON`, and don't use the `branches: only` command in our `.travis.yml`. So as far as I can tell, it seems that Travis should build **all** PRs (but doesn't).

[2020-06-02 15:23] KrisThielemans commented on #695
correct. I see the requests at https://travis-ci.org/github/SyneRBI/SIRF/requests

I see the branch at
https://travis-ci.org/github/SyneRBI/SIRF/branches
but they say "cancelled". not by me...

[2020-06-02 15:40] rijobro commented on #695
I cancelled the v3.0 ones, because they were trying to build the `v3.0` branch, which is currently identical to `master`. The one that I want but is missing from the requests is https://github.com/SyneRBI/SIRF/pull/694, which is a PR to `v3.0`.

[2020-06-02 15:42] rijobro commented on #695
My fault! The most recent commit contained `[ci skip]`, so the whole thing never got built.

[2020-06-02 15:42] #695 closed

[2020-06-03 11:12] AnderBiguri opened #699 "NiftyRegf3d parameters docs."
As far as I understand there is no way for a user to link NiftyReg's `reg_f3d -h` docs (really, the only user-oriented docs they seem to have) to `sirf.Reg.NiftyRegf3d`'s `set_params` function.

One can see the wrapped functions using `print_all_wrapped_methods` however these do not have the same names as  `reg_f3d -h` variables and the best one can do is assume what they do.

e.g. from the `reg_f

[2020-06-03 14:27] rijobro commented on #699
If you fancy a challenge.... https://github.com/rijobro/SIRF/tree/nr_methods

This branch has the methods actually wrapped, so the following:
[code]
would become:
[code]

All that remains, is to wrap all those methods into python and matlab, and write the doc for each of them.

The first part would be good for you to mess around with the C++/C/Python/Matlab layers in SIRF. The second part would be

[2020-06-03 14:41] AnderBiguri commented on #699
@rijobro thanks. I am happy to give this a go, but one thing that would speed up quite a lot my learning progress is if you could do 1 of them in python/MATLAB, so I can know exactly how all the layers go. If that is not too much of a job to ask of course! Otherwise I'll figure out.

[2020-06-03 14:48] rijobro commented on #699
I think you'll find plenty of examples if you have a look at how we set other member variables (e.g., `set_floating_image`):

https://github.com/SyneRBI/SIRF/blob/225d6211a8e6adc02d859978764d062a70f36806/src/Registration/pReg/Reg.py.in#L651-L655

I think the `set_parameter` method given in this example only accepts one argument, but you could change it so that it accepts a second one, which defaul

[2020-06-03 14:54] rijobro commented on #699
For completeness, the above `Reg.py.in` example will go to `cReg.cpp`:

https://github.com/SyneRBI/SIRF/blob/225d6211a8e6adc02d859978764d062a70f36806/src/Registration/cReg/cReg.cpp#L90-L111

where `if (strcmp(obj, "Registration") == 0)` would be true, and so `cReg_setRegistrationParameter` would be called:

https://github.com/SyneRBI/SIRF/blob/225d6211a8e6adc02d859978764d062a70f36806/src/Registrat

[2020-06-03 15:06] KrisThielemans commented on #699
While no doubt useful, I'm afraid this looks like a lot of work, which would be wasted once we transition to SWIG. Instead, I recommend to provide documentation in a file, wiki or whatever, and let the class docs point to that.

Yes, online class doc is what we should have. But we have limited time, too much to do, and the user has to invest some time as well.

[2020-06-03 15:15] AnderBiguri commented on #699
@KrisThielemans Sounds good too, if the plan is to change these layers later. In any case, either with @rijobro's suggestion, or just your suggestion of just a a doc, the main issue I wanted to raise remains: What does each of those do, and how can a user link it to the only other doc that exists (`reg_f3d -h`)?

We can safely ignore the relation to the help of `reg_f3d -h` if we can explain what

[2020-06-04 09:17] KrisThielemans opened #700 "resampler.process deprecation"
SIRF-exercises registration demo does
[code]
but gives warning
[code]
Aide from the fact that Python/jupyter could work on their user-friendliness of their errors (I'm sure @AnderBiguri would agree :wink:), my question is if we should have deprecated this.

For registration people, the original syntax is straghtforward (you set-up the registration that way, so you do the same for the resampler). T

[2020-06-04 09:42] rijobro commented on #700
Hum, two possible solutions:

1. Un-deprecate the `process` methods
2. In this example, replace `process()` with `forward(flo)`.
3. See bottom

Personally, between the first two, I'm in favour of the second. As you say, `process` might be an easier concept to grasp than `forward`, and mirrors the registration nicely. However, it will only lead to more confusion if later down the line, the user nee

[2020-06-04 09:46] AnderBiguri commented on #700
@rijobro just nitpicking: `process` does not only work for `forward` right? It may not return the `adjoint(reg)` but it does return the DVFs to do so, am I correct?

[2020-06-04 10:53] KrisThielemans commented on #700
@AnderBiguri this is the resampler. it doesn't return a DVF (that's the job of the registration)

[2020-06-04 10:53] rijobro commented on #700
Not sure what you mean, can you give an example? The DVFs are the same regardless of forward/adjoint.

Anyway, I'm fairly sure that under the hood, `process` simply calls `forward`.

[2020-06-04 10:54] AnderBiguri commented on #700
@KrisThielemans  @rijobro let me go and buy stronger coffee, completely misread all this. Sorry!

[2020-06-04 10:54] rijobro commented on #700
https://github.com/SyneRBI/SIRF/blob/225d6211a8e6adc02d859978764d062a70f36806/src/Registration/cReg/NiftyResample.cpp#L190-L194

[2020-06-04 11:22] KrisThielemans opened #701 "using process() and uniformity of class interfaces"
It makes it far easier to the user if most classes act the same. The `set_input();process();get_output()` terminology was suggested by @ckolbPTB as a generic way of doing things (for `sirf.STIR` to be completed with `set_up()`, and is indeed documented that way https://github.com/SyneRBI/SIRF/blob/master/doc/UserGuide.md#general-structure-of-the-classes-. It's also reminiscent to the ITK pipelinin

[2020-06-04 11:30] KrisThielemans commented on #700
Obviously, all this `forward` `backward` terminology is incredibly confusing in registration. (Most people will think that `backward` is the inverse of course). Not much we can do about that, except for documenting it, e.g. in the UserGuide (if anyone reads that, but at least we can point them to it). People will have to think about it.

The `process()` terminology was suggested by @ckolbPTB as a

[2020-06-04 12:24] rijobro commented on #700
PR to un-deprecate `process` and improve doc in UserGuide.

For what it's worth, I think this is a pretty good warning!

[code]

[2020-06-04 12:59] KrisThielemans commented on #700
Sure, that warning is crystal clear. It's the cruft around it that more distracting than anything else. Anyway. not our issue.

[2020-06-05 09:19] KrisThielemans commented on #660
Here's some lines that can help with doing this, thanks to StackExchange. Below assumes you have `sh` or `bash` (so presumably you are on Linux/MacOS)

First step was to update [`.mailmap`](https://github.com/SyneRBI/SIRF/blob/master/.mailmap), as people tend to be somewhat careless with the `git config`. (All, whatever you put in there will be recorded for the remaining time of the universe! you

[2020-06-05 09:20] KrisThielemans commented on #660
I don't think there's any need in going overboard with add copyright to all files, but it should be there and up-to-date for most of the source files.

Can we all remember to update the copyright line when we edit a file in the future please?

[2020-06-05 09:29] casperdcl commented on #660
hah, sure - feel free to add an example below https://github.com/casperdcl/git-fame#codeowners but

- no sane person wants to read a massive copyright notice at the top of every single source file in the whole codebase
- a maximum of 5 lines (upto 80 chars each) of metadata at the top of each file is acceptable. this could refer to other places which contain more complete information such as:
  +

[2020-06-05 09:43] KrisThielemans commented on #660
I have no idea really. I suggest to follow https://www.apache.org/licenses/LICENSE-2.0.html#apply

[2020-06-05 15:10] #647 closed

[2020-06-05 15:14] KrisThielemans opened #704 "Release 2.2.0 checklist"
[code]
1. Submodules (within SIRF)
  - [x] tag data
    + `git submodule update` # **should not complain**
    + `cd data && git tag -a v$VER -m "version $VER" && git push --tags && cd ..`
    + `git status`  # **should not list `data` as modified**
2. SIRF
  - [x] update `CHANGES.md`
  - [x] update `NOTICE.txt`
  - [x] update `.zenodo.json`
  - [x] update version numbers in [SIRF/CMakeLists.txt](

[2020-06-05 15:20] KrisThielemans opened #705 "need to relax adjoint test for Gadgetron a bit more"
https://travis-ci.org/github/SyneRBI/SIRF/builds/694620965 has 2 OSX jobs failing like this
[code]
There's nothing in #702 that causes this. The error is still tiny. @AnderBiguri can you relax this to 0.001?

[2020-06-05 15:20] #700 closed

[2020-06-05 15:30] #690 closed

[2020-06-05 15:50] #705 closed

[2020-06-06 07:51] KrisThielemans opened #708 "updated badges in README"
Currently
[code]
Not sure what to do with coverals and codecov yet.

[2020-06-06 07:51] KrisThielemans commented on #614
also badges in README #708. Probably same for the the superbuild.

[2020-06-06 09:48] KrisThielemans commented on #614
@casperdcl I need some advice I'm afraid.

- https://codecov.io/gh/SyneRBI/SIRF doesn't update (last commit 6 months ago).
-https://coveralls.io/github/CCPPETMR/SIRF doesn't update either, but that's not a surprise. I've enabled the SyneRBI repo but https://coveralls.io/github/SyneRBI/SIRF says I need to add a `.coveralls.yml` with a repo taken for travis-pro

I don't understand what happened that

[2020-06-06 09:57] #660 closed

[2020-06-06 13:47] casperdcl commented on #614
doesn't look like `.coverage` is being generated (at least not in the expected location). TL;DR travis logs (after `ctest` passes):

[code]

[2020-06-06 16:23] KrisThielemans opened #709 "coverage and codecov"
doesn't look like `.coverage` is being generated (at least not in the expected location). TL;DR travis logs (after `ctest` passes):

[code]

_Originally posted by @casperdcl in https://github.com/SyneRBI/SIRF/issues/614#issuecomment-640064004_

[2020-06-06 17:26] KrisThielemans commented on #709
@casperdcl That's for a Linux job. Indeed, there's no `.coverage` in SIRF. Who's supposed to make it?

# OSX job

https://travis-ci.org/github/SyneRBI/SIRF/jobs/695339402#L16824-L16833
[code]
First item is probably because OSX `sed` doesn't like `-r.

Last item is probably because we should prefix with `$PY_EXE` as
https://github.com/SyneRBI/SIRF/blob/586d5972dca143647f1ae080dc746dca515f655b/.trav

[2020-06-06 17:45] KrisThielemans commented on #614
SuperBuild badges sorted

[2020-06-06 19:58] casperdcl commented on #709
`ctest` should make it (assuming the underlying things test frameworks generate coverage, e.g. python -m nose --with-coverage --cover-package=sirf` or similar)

yes we should if different jobs/platforms run different lines of code

[2020-06-06 22:20] KrisThielemans commented on #709
ok. `ctest` is indeed running
`/usr/bin/python "-m" "nose" "--with-coverage" "--cover-package=sirf.Gadgetron" "src/xGadgetron/pGadgetron/"`
etc.
I've tested it on the VM, and `ctest` makes `../sources/SIRF/.coverage`. So I guess the Travis job writes it somewhere else

https://travis-ci.org/github/SyneRBI/SIRF/jobs/695339398#L1759 confirms we're building in
[code]
https://travis-ci.org/github/Syne

[2020-06-08 11:51] KrisThielemans commented on #704
@evgueni-ovtchinnikov can you look at the remaining SIRF ticks?

@rijobro can you do SIRF-Exercises once done with your fixes?

@paskino as soon as https://github.com/SyneRBI/SIRF-SuperBuild/pull/409 is merged, you could start with the VM.

[2020-06-08 15:22] rijobro commented on #704
I've done SIRF-Exercises.

I've noticed something funny for our SB releases: https://github.com/SyneRBI/SIRF-SuperBuild/releases. It shows all tags (you might need to click "Show x newer tags"), but it states our latest release as v2.0.0, and latest pre-release as v2.1.0-rc.3, both of which are wrong.

Seems we've done something wrong in recent releases that means that these aren't getting updated

[2020-06-08 15:35] casperdcl commented on #704
you have to actually "add release notes" to a tag on the releases page, otherwise GitHub won't really count it as a release, naturally. Could just copy-paste from `CHANGES.md`

[2020-06-08 15:39] rijobro commented on #704
Is there a way to do that from command line or it has to be from the github interface?

[2020-06-08 15:59] KrisThielemans commented on #704
Even if it could be done on command line, it needs some thought on what to put in there. I found for instances that our SIRF CHANGES.md is a bit messy (roughly chronological order), so I've reordered text on the release page. Arguably I should have done it in CHANGES.md as well...

@paskino, can you please take care of creating the past SB releases? You have to do it in chronological order, as git

[2020-06-09 08:24] rijobro commented on #641
@evgueni-ovtchinnikov I haven't looked through the source code, but if this pertains to file writing, could you put it in a for loop? Similar to what you already do for trying to connect to the gadgetron server)?

[code]

[2020-06-09 15:52] evgueni-ovtchinnikov commented on #641
@johannesmayer: if you get this error when running your `mrtest.cpp`, then one possible culprit is your `MRAcquisitionData::read`, where you create `ISMRMRD::Dataset` and call its methods `readHeader`, `getNumberOfAcquisitions` and `readAcquisition` without `Mutex` locking/unlocking.

I have very little idea what `Mutex` does - something to do with multithreading - but I noticed Gadgetron was usin

[2020-06-10 11:34] evgueni-ovtchinnikov commented on #641
added missing mutex locks/unlocks, HTH

[2020-06-10 11:46] rijobro commented on #641
Mutex is used to stop multiple threads accessing the same files/variables simultaneously, leading to data races, etc.

So it could well be that missing mutex's solve the problem. Thanks.

[2020-06-11 14:44] evgueni-ovtchinnikov commented on #662
tried with `fully_sampled_recon_single_chain.py` but only succeeded after sizeable amount of editing (there seem to be some docopt conflict with @casperdcl runner - had to hardcode options)

[2020-06-11 14:48] evgueni-ovtchinnikov commented on #664
sorry, forgot to mention: STIR issue #548 was created 20 days ago

[2020-06-11 16:04] KrisThielemans commented on #662
Is there a travis job you could point us to? or some other info.

[2020-06-11 16:29] evgueni-ovtchinnikov commented on #662
job 2427 (passed)

[2020-06-11 16:31] evgueni-ovtchinnikov commented on #662
the new test is `test4.py` (in `pGadgetron/tests`)

[2020-06-11 16:50] KrisThielemans commented on #662
that test looks useful. thanks.

However, i guess I wasn't quite clear what I meant (sorry).

I was wondering if we can the *actual* demos to Travis. That way, we (somewhat) prevent the demo being out-of-date, and only discover problems when someone runs the demo by hand. Obviously, the demos are not intended for testing, and therefore most don't do any checking of output. However, just the fact t

[2020-06-11 19:25] rijobro opened #712 "Problem with ProjDataInMemory changes"
Seems I introduced a bug in #694 that results in some maths functions (I think `norm` might do it) to give the wrong answer (maybe zero).

I'm looking into it, but I've noticed that we don't test any `ProjDataInMemory` in our ctests. I've modified that locally as part of the debugging and will include the improved tests once I've found and fixed the bug.

[2020-06-11 20:05] #686 closed

[2020-06-11 20:05] rijobro commented on #683
closing as we decided to un-deprecate `process`.

[2020-06-11 20:05] #683 closed

[2020-06-12 06:20] ashgillman opened #714 "Link in project description is incorrect"
Hey,
I just realised the link in the description of the repo (not the README) is incorrect, its missing the CCP.

[2020-06-12 06:31] KrisThielemans commented on #714
fixed. thanks!

[2020-06-12 06:31] #714 closed

[2020-06-12 07:53] rijobro opened #715 "Changing storage scheme of AcquisitionData"
If I do something along the lines of:
[code]
Despite the fact that `a` uses `file` as its storage scheme, the printed output will be `memory`. This is because the storage scheme is a static variable.

It seems to me that it would be safer to set the storage scheme for each `AcquisitionData` individually. It can default to `file`, since this is the current default. Could look like this:

[code]

If

[2020-06-12 08:53] evgueni-ovtchinnikov commented on #715
one would then have to specify somehow the storage scheme for forward projection, acquisitions processor and the results of most algebraic operations

[2020-06-12 08:59] rijobro commented on #715
I don't think that's necessarily true. A forward projector will be set up with an `AcquisitionData`. And that `AcquisitionData` knows which storage scheme it uses.

[2020-06-12 09:04] #712 closed

[2020-06-12 10:05] KrisThielemans commented on #290
@evgueni-ovtchinnikov please create an issue on ISMRMRD (or even PR).

[2020-06-12 10:09] KrisThielemans commented on #290
check if we are still compatible with ISMRMRD master

[2020-06-16 04:31] ALEXJAZZ008008 opened #718 "SIRF will no longer build with STIR master"
If you try you get multiple of the following error with minor variations:

[code]

[2020-06-16 05:03] ALEXJAZZ008008 commented on #718
After building with other versions of STIR this is also true of 4 and 4.0.2
It's also true of the TOF branch

[2020-06-16 06:15] KrisThielemans commented on #718
To the best of my knowledge, SIRF and STIR master together do build.
https://travis-ci.org/github/SyneRBI/SIRF is green.

https://github.com/UCL/STIR/pull/558 introduced `stir::ProjDataInMemory::begin()`.

This is indeed on `master` only and not on any of the other branches.

So I don't think you're on STIR `master` now.

[2020-06-16 08:19] rijobro commented on #718
Also on the `release_4` branch. So just to add to Kris' comment, you'll have to merge STIR `master`/`release_4` into your TOF flight to be able to use SIRF master.

We thought about making current SIRF compatible with older STIR code, but it would result in too many `ifdef`'s.

[2020-06-16 10:40] rijobro opened #719 "Unify verbosity output"
It would be good to have a static SIRF variable for verbosity:

STIR engine:
[code]
`AcquisitionModelUsingNiftyPET` would initialise `set_cuda_verbosity` with this static variable.

also all the following output:
[code]

[2020-06-16 15:29] KrisThielemans opened #721 "orientations of NiftyReg output are in RAS"
deformation/displacement vector fields (DVF) encode deformations in RAS. Also, the info for rigid transformations is in RAS, see https://github.com/SyneRBI/SIRF-Exercises/issues/44#issuecomment-640483754
This is because that's how NiftyReg's internal coordinate system works.

Note that some registration packages might output DVFs in voxel-units, so it's not just a matter of orientation.

This is c

[2020-06-17 07:34] DANAJK commented on #721
There are other coordinate systems that might be used, for example the physical gradients or the read-phase-slice. So I would favour option 2 - being very clear about what the code expects/is doing and maybe providing the user with the means to transform between systems.

[2020-06-17 09:16] KrisThielemans commented on #721
I suppose this question would also apply to diffusion tensor imaging in MR. could have same solution.

[2020-06-17 09:37] DANAJK commented on #721
The gradients in diffusion tensor MRI inherently come from coils fixed to the machine and are thus fundamentally in a 'fixed' frame rather than the patient frame. However, they are sometimes specified in terms of the imaging planes (read-phase-slice) and the scanner will internally do the transformation. For many of the more simple analyses that return a scalar (diffusion coefficient, fractional a

[2020-06-17 12:17] KrisThielemans commented on #721
ok. I think documenting this and adding a method that returns the geometric info (which in the NiftyReg case would presumably just be `diag(-1,-1,1,1)`) would be quite easy. Implementing conversions won't be, but we can easily postpone that.

@rijobro, any opinion?

[2020-06-17 13:30] rijobro commented on #721
Could we have optional second parameter that converts to e.g., LPS, but by default leaves as is for backwards compatibility? Along the lines of:

[code]

[2020-06-17 15:59] #662 closed

[2020-06-17 17:39] KrisThielemans commented on #662
great. thank!

[2020-06-18 14:53] KrisThielemans commented on #721
not sure about that solution. The default would then be very non-SIRF-like, and confusing once we get to ITK rigid registrations for instance. I'd rather then provide `get_TM_in_LPS` or something (and `set` I guess). We could then document that `get_TM` is in whatever native coordinate system is used by the "engine". (I'd recommend not to use it).

[2020-06-24 12:27] evgueni-ovtchinnikov opened #732 "FBP2DReconstructor setup"
With STIR on master, demo script `fbp2d_reconstruction.py` fails because `set_up` is not called.

In STIR, `FBP2DReconstruction::set_up()` requires an image to be passed to it - where would `fbp2d_reconstruction.py` get that image from?

Adding
[code]
in `fbp2d_reconstruction.py` does not help - the same error message is issued:
[code]

[2020-06-26 08:23] rijobro opened #735 "travis badge shows error despite master being green"
If you scroll to the bottom of our repository homepage, the Travis badge is grey and says "error". However, when you go to the badge's link: https://travis-ci.org/SyneRBI/SIRF.svg?branch=master, it's green (at the time of writing). Any idea what's going wrong? I updated them from CCPPETMR to SyneRBI recently, so may have made a mistake there but I can't see where.

Same problem in SuperBuild.

@ca

[2020-06-26 08:28] rijobro commented on #735
Think it's just the caching of my browser, sorry. https://stackoverflow.com/a/50757046/12411867.

[2020-06-26 08:28] #735 closed

[2020-06-26 08:29] casperdcl commented on #735
Refreshing browser cache may help. Sometimes it takes time for badges to update though. Yesterday all badges worldwide were grey & displaying 'inaccessible' for some time

[2020-06-29 17:55] KrisThielemans opened #737 "C++ uniformity for "models""
We have a description in the UsersGuide on expected format of `AcquistionModel` etc. I guess we follow that scheme. However, on the C++ there's a variety of things going on. Examples
- `PETAcquisitionModel`
https://github.com/SyneRBI/SIRF/blob/a5af98bba669c50023c38937fb5f503fdf67c19a/src/xSTIR/cSTIR/include/sirf/STIR/stir_x.h#L402-L415
- `Resample`
https://github.com/SyneRBI/SIRF/blob/a5af98bba669

[2020-06-29 18:04] KrisThielemans opened #738 "class interface for non-linear operators"
Once we have #737 it would make a lot of sense to decide on a similar base class for non-linear operators. We could have
`Operator -> DifferentiableOperator -> LinearOperator`.
- `Operator` would have `forward`,
- `DifferentiableOperator` would have `backward`, corresponding to
[code]
i.e. multiply with the transpose of the Jacobian determinant (i.e. matrix of partial derivates) at the current `in

[2020-06-29 18:06] KrisThielemans opened #739 "add `Transformer` class"
At present, we have the `Transformation` hierarchy. This can (I guess) take a B-spline field, and create the (dense) DVF. For image registration, I think we need to look at this as an "operator". Luckily, for B-spline stuff, the parametrisation is linear, so we can use the pattern from #737.

An issue is that currently we have no class for transformation parameters. That in itself is hard enough (

[2020-06-29 19:09] KrisThielemans commented on #738
@jakobsj  I mistyped your id above.

[2020-06-29 19:12] KrisThielemans opened #740 "Resample needs to operations for DVF"
To implement registration, we need to be able to get  (or actually multiply with the transpose of) the Jacobian determinant w.r.t. the DVF.

This brings an interesting question that `Resample` can be considered an `Operator` in terms of the image, and an `Operator` in terms of the DVF. Not sure how we'd encode that in a generic way 🤔

[2020-06-29 22:20] paskino commented on #737
The `Operator` class is defined [here](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/ccpi/optimisation/operators/Operator.py#L25) and it requires the `domain_geometry` and the `range_geometry`, which I suppose in your example you called `input_type` and `output_type`.

Also we define `direct` and `adjoint` and not `forward` and `backward`. In SIRF I have aliased the method

[2020-06-30 07:12] KrisThielemans commented on #718
Given that Travis is fine etc, I suspect that this was due to the problem of finding an out-of-date STIR https://github.com/SyneRBI/SIRF-SuperBuild/issues/414

Feel free to re-open if you disagree

[2020-06-30 07:12] #718 closed

[2020-06-30 07:36] KrisThielemans opened #741 "Resample vs Resampler"
We have `Reconstructor`, not `Reconstruct`. Naming was because it's an "object that can reconstruct".

`Resample` has its name because initially it didn't follow the `Reconstructor` pattern, but now it does.

Some other thoughts.
- At present `Reconstructor` doesn't follow the `Operator` type of naming (see #737) although in principle it could (`AcquisitionData`->`ImageData`). Not sure if that'd b

[2020-06-30 07:56] KrisThielemans commented on #737
I see CIL now does have `LinearOperator` which adds `adjoint`, see [here](https://github.com/vais-ral/CCPi-Framework/blob/a81a9b0a51f02c7b1ff770439174f431d1452fa8/Wrappers/Python/ccpi/optimisation/operators/Operator.py#L104)

I personally like the `range`/`domain` terminology. Possibly our audience would be more familiar with `input`/`output`, but that could be resolved by documentation.

In C++,

[2020-06-30 08:28] KrisThielemans commented on #704
@evgueni-ovtchinnikov could you tick the `doxygen` boxes (or fix them) and close this issue then?

[2020-06-30 08:58] #466 closed

[2020-06-30 10:14] evgueni-ovtchinnikov commented on #704
@KrisThielemans  done (actually doxygen was done a while ago but I ticked in Section 2 only)

[2020-06-30 10:14] #704 closed

[2020-06-30 11:29] evgueni-ovtchinnikov commented on #732
forgot to mention: this happens on Windows 10

probably something went wrong with the SIRF or STIR build

[2020-06-30 12:41] rijobro commented on #739
abstract base `Transformation` class: https://github.com/SyneRBI/SIRF/blob/master/src/Registration/cReg/include/sirf/Reg/Transformation.h

[2020-06-30 13:12] KrisThielemans commented on #740
Let's call this `Resample::backward_transform(shared_ptr<const Transformation> t_spr)`
Implements two steps: `_transformation_sptr.backward(t_sptr)`  (gives a DVF), then multiply DVF with Jac Determinant (code from NiftyMomo)

[2020-06-30 14:49] rijobro opened #742 "STIR: Print scanner names"
I just tried to create a D690, with `pet.AcquisitionData('D690')`, which didn't work. I tried `Discovery690`, again that didn't work. I went through the STIR source code and found it should be `Discovery 690`. If there was a `print_all_scanner_names` method, this would have been a bit simpler.

[2020-06-30 16:31] KrisThielemans commented on #732
one possibly cause was a bug in STIR, fixed here
https://github.com/UCL/STIR/commit/f136283a45f2ea9f961d2d9f1c65383996a86e49#diff-b877aaa82273b772d4a204e76ccc8f73
so your STIR is probably out-of-date.

I'll close this therefore. Do reopen if it still happens.

[2020-06-30 16:31] #732 closed

[2020-06-30 18:01] KrisThielemans commented on #742
can use [`stir::Scanner::get_all_names()`](https://github.com/UCL/STIR/blob/7ad42836e6d813313b8f2f5a83f8c6d3e04a47fb/src/include/stir/Scanner.h#L173). Note that it's better to return a list than call `print` in my opinion.

(not urgent)

[2020-07-01 10:56] rijobro opened #744 "initialise f3d with control point grid"
we've realised that f3d has a method for setting the initial control point grid:

https://github.com/KCL-BMEIS/niftyreg/blob/f673b7837c0824f55dedb1534b32b55bf68a2823/reg-lib/_reg_f3d.h#L80

This can easily be wrapped to SIRF. @ALEXJAZZ008008 might be worth having a go if you fancy it.

[2020-07-01 18:32] rijobro commented on #641
Bug still persisting (PR from today): https://travis-ci.org/github/SyneRBI/SIRF/jobs/703951360#L28836

[2020-07-02 10:59] paskino opened #748 "New signature for axpby in Python"
Please have a look at https://github.com/vais-ral/CCPi-Framework/issues/613

[2020-07-02 11:07] paskino opened #749 "Gadgetron AcquisitionData range and domain are swapped"
Domain and range of Gadgetron `AcquisitionModel` are [swapped](https://github.com/SyneRBI/SIRF/blob/master/src/xGadgetron/pGadgetron/Gadgetron.py#L1104). Domain should be `ImageData` and range `AcquisitionData`.

[code]

[2020-07-02 12:35] paskino commented on #749
Actually, what's swapped is the docstring

[2020-07-02 12:41] #749 closed

[2020-07-02 18:13] rijobro opened #751 "unnecessary python try except?"
The following lines are a nuisance when debugging:

https://github.com/SyneRBI/SIRF/blob/5c94127357399a3b528095a7644f75ab0614c6d7/src/common/SIRF.py#L39-L42

Do we need them? Can't see `input` used anywhere in the file.

[2020-07-03 07:01] paskino commented on #748
After some experimenting I came to [this ](https://github.com/vais-ral/CCPi-Framework/issues/613#issuecomment-653378263)conclusion.

[2020-07-03 10:07] evgueni-ovtchinnikov commented on #751
@rijobro: I had to put this so that `input` worked in the same way in both Python 2 and 3 - not needed now that we no longer support Python 2.

[2020-07-03 10:45] rijobro commented on #751
Ok, well if it helps for python2 support (even if we don't officially support it), we can leave it as it is for now. I'll close the issue.

Just in case someone looks at this in the future, the same `try`/`catch` is also present in `STIR.py.in`.

[2020-07-03 10:45] #751 closed

[2020-07-03 10:54] KrisThielemans commented on #748
conclusion in https://github.com/UCL/STIR/issues/560

This will need a sequence of steps.

[2020-07-03 12:13] ckolbPTB opened #752 "Gadgetron.AcquisitionData cannot be divided by scalar for storage=memory"
When the storage scheme is set to 'memory', the Gadgetron.AcquisitionData cannot be devided anymore.

Simple example to reproduce the error:
[code]

fails with for last line of code above:

Traceback (most recent call last):
  File "/home/mcir/vhackathon_june2020/gadgetron_acq_div_bug.py", line 18, in <module>
    print('Shape of acq: ', acq.as_array().shape, ' max: ', np.abs(acq.as_array()).max()

[2020-07-03 13:39] #752 closed

[2020-07-03 19:39] KrisThielemans commented on #739
After discussions with @rijobro, we came up with a skeleton. I've now refined that, but changing terminology to `DeformationModel`. I think this is much better, and fits very nicely with `AcquisitionModel`.

skeleton code in https://github.com/SyneRBI/SIRF/tree/add_DeformationModel, with [diff here](https://github.com/SyneRBI/SIRF/compare/add_DeformationModel). It won't compile so I haven't create

[2020-07-03 20:29] KrisThielemans commented on #739
At present
https://github.com/SyneRBI/SIRF/blob/e7cb527e3c634fdce2b7fbc5d29741d9c26959bd/src/Registration/cReg/include/sirf/Reg/Resample.h#L132

This is still not very good. In my mind, it'd be more logical to let it return `TransformationParameters`. In any case, it'd have to be computed via something like
[code]
although this is of course incorrect if there's more than 1 `transformation`

[2020-07-03 20:32] KrisThielemans commented on #740
@ALEXJAZZ008008 see #739.

[2020-07-03 20:35] KrisThielemans commented on #739
and the above is pseudo-code. no idea if the above operations exist

[2020-07-04 06:10] KrisThielemans commented on #685
This is due to a CMake `FindHDF5.cmake` bug, see https://gitlab.kitware.com/cmake/cmake/-/issues/20909

[2020-07-04 10:35] KrisThielemans commented on #738
For non-affine operators, the gradient depends on the current "input", hence the `set_input` suggestion above. However, then it makes sense to have
[code]
The advantage of this is that we nearly always will want to call `backward` after `forward`. This way, the output of `forward` could be stored, such that it doesn't have to be recomputed for `backward`.

Example class interface (with somewhat di

[2020-07-04 11:14] KrisThielemans opened #753 "Travis OSX new failures (BLAS?)"
since a few days we get failures on some OSX jobs, e.g. 2 most recent `master` jobs https://travis-ci.org/github/SyneRBI/SIRF/builds/704742645 and https://travis-ci.org/github/SyneRBI/SIRF/builds/704664740

Error seems to be
https://travis-ci.org/github/SyneRBI/SIRF/jobs/704742651#L16831
[code]
Some blas thing?

[2020-07-04 16:26] KrisThielemans commented on #685
Addressed in STIR with a work-around the CMake problem, see https://github.com/UCL/STIR/issues/614.

[2020-07-04 16:26] #685 closed

[2020-07-04 16:28] rijobro commented on #753
Looks more like a numpy error:

[code]

[2020-07-04 17:17] KrisThielemans commented on #753
Possibly, but it occurs elsewhere I guess without numpy. https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/704873855#L15259
[code]

A Bing (!) gives me https://github.com/numpy/numpy/issues/14165 and https://stackoverflow.com/questions/50634727/dyld-library-not-loaded-usr-local-opt-openblas-lib-libopenblasp-r0-2-20-dylib. Looks like one or more of the `brew` packages needs reinstalling. Ma

[2020-07-05 09:57] #753 closed

[2020-07-05 09:58] KrisThielemans commented on #753
It actually said that BLAS is out-of-date.
Indeed, https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/704873855#L3356
[code]
Hence #757

[2020-07-07 11:01] rijobro opened #758 "SIRF requires STIR version 4"
SIRF requires STIR version 4:

https://github.com/SyneRBI/SIRF/blob/master/src/CMakeLists.txt#L81

However, it seems the most recent tag of STIR is v5_alpha, causing Travis to fail:

https://travis-ci.org/github/SyneRBI/SIRF/jobs/705373915#L25459-L25465

My understanding is that `find_package` only allows more recent minor and tweak versions. So if major version changes, it won't be happy. Simples

[2020-07-07 11:02] rijobro commented on #758
Alternatively, perhaps the error is because the version number is no longer numerical?

https://github.com/UCL/STIR/blob/fa10cd3cac20bf858287f9a06b602b1a51e1ee97/CMakeLists.txt#L63-L69

Not sure, just some ideas.

[2020-07-07 14:20] KrisThielemans commented on #758
ah. apologies. I thought I'd simplify things, and made them harder.

It's up to the package distributor what they mean with versions, but STIR uses a default scheme, that will presumably indeed refuse a more recent major version (makes sense: it's not backwards compatible!).

I think we can indeed do
[code]
we can then use in places where needed an `ifdef` or whatever on the version (in C++, `STIR

[2020-07-07 14:22] KrisThielemans commented on #758
https://cmake.org/cmake/help/v3.18/command/if.html says

which is why I felt safe to append the "pre" stuff. (at least, we could check if we're only an alpha or not)

[2020-07-07 14:50] rijobro commented on #737
In favour of having a base class that all inherit from to ensure consistency. Also agree that we should have both in-place and non-in-place forward/backward methods, i.e.,:

[code]

I also don't think we should be implementing `direct` or `adjoint` except on the python level.

Lastly don't mind if we pass arguments by reference or `shared_ptr` etc.

[2020-07-08 18:14] KrisThielemans commented on #738
Generic test for the `backward` operation (using numerical gradients)
[code]
note: for complex variables, `hermitian_product` needs to be `sum(conj(d_out)*out_tilde)`

This is obviously going to be very slow (for a *domain* of size N, it needs N `forward` operations).

[2020-07-08 18:15] KrisThielemans commented on #738
For the mathematicians, this assumes that domain and range are vector spaces. If they're not, we'd need to think about differentiable manifolds...

[2020-07-10 18:29] KrisThielemans opened #768 "need to update Travis for OSX"
See https://github.com/UCL/STIR/pull/626

[2020-07-13 13:19] #758 closed

[2020-07-13 13:46] paskino opened #772 "SIRF error"
SIRF Python: I am allocating an `ImageData` using the `allocate`. In CIL we can allocate just the memory, without setting it. I have done the same with a SIRF `DataContainer` but it fails. What I see is

[code]

Notice that the program ends without raising an exception but just printing to screen. So I don't have a clue where it all went wrong. There's a clue: it is a `fill` method, either [`Image

[2020-07-13 13:51] rijobro commented on #772
Is it also true that we shouldn't put our `main` in a try and catch, as this will hide the error stack:

[code]

From what I understand, it should just be this:

[code]

[2020-07-13 14:27] evgueni-ovtchinnikov commented on #772
@paskino: it looks like you wanted to call `ImageData.allocate()` with a string `value` (e.g. 'random') but made some spelling mistake - I can see no other reason for such output. Can I see your script that produced it?

[2020-07-13 14:55] evgueni-ovtchinnikov opened #773 "New SIRF build failures"
My latest SIRF build failed with these errors:
[code]
(Linux/OSX) and
[code]
(OSX).

Both two Xenial builds, one Bionic build and two OSX builds went ok.

Any ideas anyone?

[2020-07-13 15:30] KrisThielemans commented on #773
I think the first thing should be fixed with #769 (merged just recently), and was caused by myself, and the second with #771 (under testing, but I see already a failure on OSX), which is our attempt to get round trouble 'brew' ing...

sorry about that.

[2020-07-13 15:52] paskino commented on #772
It's buried inside the CIL where we `allocate(None)` to just allocate the memory.

For the time I've changed `allocate` to handle `value=None` as `value=0`.
Now I see that `allocate` calls `get_uniform_copy` which is:

[code]
Could we skip the `fill` step? This will fix it.

@rijobro explained why the code doesn't crash!

Still the suggestion of `EngineError` rather than `error` is valid and the u

[2020-07-13 15:54] paskino commented on #772
@evgueni-ovtchinnikov in CIL we allow `value` as

 - a number
 - `random` or `random_int`
 - `None` in which case the system just allocates the memory

[2020-07-13 16:32] evgueni-ovtchinnikov commented on #772
@paskino: you can skip `fill` if `self` is not empty.

[2020-07-13 17:01] paskino commented on #772
you mean if it's not a "template"? Is there a way to check that?

[2020-07-13 19:46] #768 closed

[2020-07-15 08:02] evgueni-ovtchinnikov commented on #772
@paskino: make sure `self.handle` is not `None` and check `self.dimensions()`

[2020-07-16 11:32] gfardell opened #774 "SIRF build with gnu 4.8.5"
Using gnu 4.8.5 I have a couple of build errors:

[code]
This is fixed by removing controlPointGridImage from the OpenMP shared declaration in CPGToDVF2D and CPGToDVF3D which shouldn't change any functionality as anything declared before ```#pragma openmp parallel``` will be shared default.

src/common/include/sirf/common/ANumRef.h
'invalid_argument’ is not a member of ‘std’

This is fixed by incl

[2020-07-16 11:34] rijobro commented on #774
hi Gemma,
Great that you've managed to find a fix. Would you mind creating a PR and we can see if the changes are OK with Travis?

[2020-07-16 11:35] gfardell commented on #774
I have, but I can't push my branch. I assume I need repository permissions?

[2020-07-16 11:36] rijobro commented on #774
Simplest would be to create a fork, push to there and then create a PR to master from there. you can obviously delete your fork once the PR is merged if you'd like.

[2020-07-17 05:44] #774 closed

[2020-07-17 09:42] rijobro commented on #773
@evgueni-ovtchinnikov can you close this if master is working for you?

[2020-07-20 13:06] rijobro opened #779 "STIR python fill methods return self"
Not a big problem, but our STIR `fill` methods (image and acq data) have `return self` at the end. This means that if I do
[code]
then I get the following output `<sirf.STIR.ImageData at 0x7f79b62a9438>`.

Don't think we should be returning anything since we're modifying `self`.

[2020-07-20 13:18] rijobro opened #780 "Can't set orientation of STIR shapes"
Adding `EllipticCylinder`, it appears I can set `origin`, `radii`, `length`, but not orientation.

[2020-07-20 15:48] evgueni-ovtchinnikov commented on #773
Travis is green after merging master, so closing

[2020-07-20 15:48] #773 closed

[2020-07-20 17:27] KrisThielemans opened #781 "stir.ImageData.add_shape needs to be able to set subsampling"
https://github.com/SyneRBI/SIRF/blob/c147b231e4b239177d58a5b1f8d1d9aabd4077b3/src/xSTIR/cSTIR/cstir.cpp#L1092
hardwires the subsampling used for shapes to `1,1,1`. This will create discretisation artefacts. We should add an extra option to `add_shape` to allow setting this to a higher value

[2020-07-20 17:30] KrisThielemans commented on #781
@rijobro we need this for the brainweb-example unfortunately.

[2020-07-21 08:27] rijobro opened #783 "Used to install Niftymomo headers"
We used to install the NiftyMoMo headers. As of https://github.com/SyneRBI/SIRF/pull/776 we no longer do that, but obviously any pre-installed files will still be there. Some updates to the NiftyMoMo functionality were added in https://github.com/SyneRBI/SIRF/pull/777. Therefore, there may be an issue where your compiler picks up the old `.h` when trying to compile the new `.cpp`. The simple solut

[2020-07-21 08:27] #783 closed

[2020-07-22 08:33] #781 closed

[2020-07-22 10:28] evgueni-ovtchinnikov opened #784 "SIRF build fails on NiftyMoMo"
Building SIRF master on VM fails with
[code]

[2020-07-22 10:36] KrisThielemans commented on #784
This was flagged up by @rijobro as a potential problem, and indeed it's there 😢

note that it got the include file from `/home/sirfuser/devel/install/include/sirf/NiftyMoMo/BSplineTransformation.h`. Solution is therefore to
`rm -rf /home/sirfuser/devel/install/include/sirf/NiftyMoMo`

I guess we will have to put this in `SyneRBI/UPDATE_VM.sh`

[2020-07-22 10:38] rijobro commented on #784
Yup, sorry about this. See https://github.com/SyneRBI/SIRF/issues/783.

[2020-07-22 11:07] evgueni-ovtchinnikov commented on #784
thanks!

[2020-07-22 16:59] paskino commented on #779
That's interesting. It may turn useful if we would allow such type of coding

[code]

[2020-07-23 10:04] rijobro commented on #783
@KrisThielemans is there any way to prepend the header files so that it finds the ones in the source directory ahead of those in the install location?

[2020-07-23 13:43] KrisThielemans commented on #475
@paskino why is this still open?

[2020-07-23 14:19] KrisThielemans commented on #783
we had the same problem in STIR. we played around with `target_include_directories` and `BEFORE` etc, see [the manual](https://cmake.org/cmake/help/latest/command/target_include_directories.html). It's tricky in general as SIRF dependencies might not be playing nicely. I would certainly have hoped that SIRF goes and looks for include files in `SIRF/..include/ first, before anything else. If it doe

[2020-07-24 12:29] KrisThielemans opened #788 "ListMode2Sinograms::estimate_randoms doesn't set acquisition_data header correctly"
Example diff on the NEMA data
[code]

Reason is here https://github.com/SyneRBI/SIRF/blob/c5a2291a52f9b98e63f803472c6c68eb7e898ae7/src/xSTIR/cSTIR/stir_x.cpp#L320-L323
The `acq_data` is created from the template without knowing anything about the listmode data and time frames itself.

Its `ExamInfo` needs to be set from the list-data, together with `frame_defs`

[2020-07-24 12:39] KrisThielemans commented on #788
Suggested fix something like
[code]

@evgueni-ovtchinnikov could you have a look at this?

[2020-07-24 12:55] KrisThielemans commented on #788
@paskino this is from what you found

[2020-07-27 15:48] evgueni-ovtchinnikov commented on #788
@KrisThielemans: your suggestion works except for `start horizontal bed position`, which is still 0 in `*randoms*.hs`.

[2020-07-27 16:03] evgueni-ovtchinnikov commented on #788
@KrisThielemans: should I push to master anyway?

[2020-07-28 07:21] KrisThielemans commented on #788
ok. we need to use `set_bed_position_horizontal` and `...vertical`. We need the equivalent of
https://github.com/UCL/STIR/blob/29133a3ffa690b444894b4392aa710e8bb33a42e/src/listmode_buildblock/LmToProjData.cxx#L221-L225

apologies for this

[2020-07-28 12:04] #788 closed

[2020-07-28 20:43] KrisThielemans opened #789 "missing unary + and - for sirf.ImageData"
In Python (and presumably elsewhere), we can currently not do `-img`, which is sometimes convenient.

[2020-07-30 10:42] #789 closed

[2020-07-30 11:04] evgueni-ovtchinnikov commented on #779
I find returning self handy too.

[2020-07-30 11:04] #779 closed

[2020-07-30 12:53] evgueni-ovtchinnikov commented on #194
If I am not mistaken, we now have `out` in all types used by CIL except reconstructors, for which we have to stick to the usage scheme promised in our User's Guide (`set_input` and `get_output`), so I am closing the issue.

[2020-07-30 12:53] #194 closed

[2020-07-31 11:51] KrisThielemans opened #791 "In Python Geometricalnfo.get_size() returns sizes in reverse order than shape"
It's incredibly confusing that `img.get_geometrical_info().get_size()` return a tuple that is in the reverse order of `img.as_array().shape` (which is luckily the same as `img.get_dimensions()`.

Presumably `get_spacing()` also returns reverse order (i.e. opposite of `img.voxel_sizes()`). I haven't checked.

I don't know how it is in C++ nor MATLAB.

[2020-07-31 11:55] KrisThielemans commented on #791
Changing this might have some consequences elsewhere and needs to be done with caution I guess.

We also have some interesting name differences in these functions of course. This is at the moment fortuitous as they return something else, but it's not nice.

[2020-07-31 12:28] #742 closed

[2020-08-01 07:07] KrisThielemans opened #792 "GeometricalInfo index<->LPS"
we can go between indices and LPS, but it's involved. In Python
[code]
a "nice-to-have" would be to have a function for this (and its inverse)

Note that the MATLAB function would need to take indices in the reverse order as Python/C++

[2020-08-16 22:37] KrisThielemans opened #793 "STIR.get_linear_acquisition_model ignores sensitivities etc"
This function creates a new `AcquisitionModel` using the default constructor of the `type` I believe
https://github.com/SyneRBI/SIRF/blob/b63149f3a9163b9e82b76e6e649e00774cde45e7/src/xSTIR/pSTIR/STIR.py#L1472
This has multiple problems:
- It ignores any setting of the acquisition_sensitivity_model.
- It probably also ignores any other parameters of the acq_model that were set (such as the number o

[2020-08-16 22:45] KrisThielemans opened #794 "STIR.AcquisitionModelUsingRayTracingMatrix.get_matrix returns a new matrix with default settings"
https://github.com/SyneRBI/SIRF/blob/b63149f3a9163b9e82b76e6e649e00774cde45e7/src/xSTIR/pSTIR/STIR.py#L1636
just creates a new matrix. Any previous settings are therefore ignored, which seems a bug to me.

Moreover, it will have memory consequences as any caching will now be done twice. It's less easy to see what to do with this. If we'd return a handle to the same matrix, it could be surprising f

[2020-08-16 22:52] KrisThielemans commented on #793
It won't be so easy to solve the 2nd problem, as we don't have a way to copy the matrix nor GPU projectors). For the former, there's a similar bug in `get_matrix` preventing us to use that (#794))

[2020-08-16 23:19] KrisThielemans commented on #793
As this was undetected for so long, it transpires we have no test for this case

[2020-08-17 12:53] evgueni-ovtchinnikov commented on #794
@KrisThielemans: that line simply creates an empty object of type `RayTracingMatrix`, which gets filled with the data (`DataHandle` wrap of `((ProjectorPairUsingMatrix*)this->sptr_projectors_.get())->get_proj_matrix_sptr()`) in the next line.

[2020-08-18 16:01] KrisThielemans opened #796 "randoms estimate returned by ListmodeToSinograms is incorrect"
It is transposed for some reason. Running `/SIRF-Exercises/notebooks/PET/reconstruct_measured_data.ipynb`, we get
[code]
![image](https://user-images.githubusercontent.com/6362141/90536340-d63c8300-e173-11ea-8831-dec2c8833329.png)
which is a "view", not a "sinogram". Can be checked by reading the original STIR output
[code]
![image](https://user-images.githubusercontent.com/6362141/90536734-5bc033

[2020-08-18 16:05] KrisThielemans commented on #796
Implementation is [here](https://github.com/SyneRBI/SIRF/blob/329f808751aef1479fd244647fe76f49e7412093/src/xSTIR/cSTIR/stir_x.cpp#L331). This uses all STIR stuff, including its output, so I don't see a problem here.

[2020-08-18 16:13] KrisThielemans commented on #796
underlying objects are fine:
[code]
returns 0

Presumably this is a problem with `as_array`, [which uses `stir.ProjData.copy_to`](https://github.com/SyneRBI/SIRF/blob/b63149f3a9163b9e82b76e6e649e00774cde45e7/src/xSTIR/cSTIR/cstir.cpp#L672). Possibly this is a bug introduced in https://github.com/UCL/STIR/pull/612

[2020-08-18 19:32] KrisThielemans commented on #796
This was merged to `master`. However, the STFC machine I was testing on was using STIR rel 4.0.2, so it's not that PR.

[2020-08-18 22:05] KrisThielemans commented on #796
I've tested results are ok with STIR 4.0.2 combined with SIRF 655335fddf4bbb69aa31e5531880a4edd8844fe9 (6 Jun). This is before #691.

Also ok with STIR current release_4 branch and SIRF master with hand-edits to undo #691.  The SIRF code itself is ok though, so this points to an underlying problem in STIR.

[2020-08-18 22:29] KrisThielemans commented on #796
Confirmed that this problem is resolved by disabling the use of the "new" `ProjDataInMemory` iterators in `copy_to`
https://github.com/rijobro/SIRF/blob/51f486c38b989bc5ea38632c31b578e5d2b75946/src/xSTIR/cSTIR/include/sirf/STIR/stir_data_containers.h#L521-L532

This means there's a but in STIR

[2020-08-25 10:02] ClaireDelplancke opened #797 "ImageData has no method max"
CIL's  [MixedL21Norm convex conjugate](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/ccpi/optimisation/functions/MixedL21Norm.py#L77) expects `x.max()` to give the element-wise maximum of `x`, but if `x` is of ImageData type, it has no method max.

[2020-08-25 10:12] KrisThielemans commented on #797
STIR has `find_max()` and `find_min()`. Not sure about ISMRMRD. Of course, if we store only complex images, that wouldn't mean anything anyway.

@ClaireDelplancke does it actually need `max_abs` (i.e. max of absolute values)?

[2020-08-25 10:21] ClaireDelplancke commented on #797
ImageData has complex values by default?
In CIL's [MixedL21Norm.convex_conjugate](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/ccpi/optimisation/functions/MixedL21Norm.py#L55), we want to take the element-wise maximum of an image which is real and non-negative (so in that case, max and max of absolute values are the same.)

[2020-08-25 12:27] ClaireDelplancke opened #798 "Compatibility between SIRF's and CIL's DataContainer"
I would like to multiply an object of type `sirf.STIR.ImageData` by an object of type `ccpi.framework.BlockDataContainer.BlockDataContainer` where each DataContainer inside BlockDataContainer are again of type `sirf.STIR.ImageData`. This should give me a BlockDataContainer. Instead, I've got the following error
[code]

As per @paskino this comes from the fact that [DataContainer in CIL](https://gi

[2020-08-25 12:37] evgueni-ovtchinnikov commented on #798
the error message says it all: you cannot multiply objects of different type

if `ccpi.framework.BlockDataContainer.BlockDataContainer` contains `sirf.STIR.ImageData` objects, then you need to multiply each of them by your `sirf.STIR.ImageData` object in a loop

[2020-08-25 12:44] ClaireDelplancke commented on #798
Sure, but I would like to be able to do it!
For example I need it in order to use [MixedL21Norm](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/ccpi/optimisation/functions/MixedL21Norm.py#L83) implemented in CIL.

[2020-08-25 12:50] evgueni-ovtchinnikov commented on #798
I am afraid I may not be able to help with that, better ask CCPi people to implement such multiplication for `ccpi.framework.BlockDataContainer.BlockDataContainer`

[2020-08-25 13:53] paskino commented on #798
The problem is that both `sirf.STIR.ImageData` (or better `sirf.DataContainer` and `ccpi.framework.BlockDataContainer` have a `multiply` (and all other algebra methods).

This means that in this situation
[code]

Python will use `multiply` from the `sirf.STIR.ImageData` which doesn't know anything about `BlockDataContainer`, resulting in your error.

On the other hand `BlockDataContainer` will def

[2020-08-25 14:02] paskino commented on #797
you could quickly fix this one by adding to `sirf.DataContainer`.

[code]

This means that we need to check that the methods in CIL and SIRF `DataContainer` are matching., @gfardell @epapoutsellis

[2020-08-25 14:10] evgueni-ovtchinnikov commented on #798
sorry, I do not like this at all, `DataContainer` is an abstract class, it should not depend on the usage context (lest we end up covering more and more contexts)

better use `hasattr` in your code to find out whether `__container_priority__` is present

[2020-08-25 16:12] KrisThielemans commented on #797
`CIL.BlockDataContainer` has [maximum()](https://github.com/vais-ral/CCPi-Framework/blob/825d0e80a1e61062d121756649fc08ec0b06baab/Wrappers/Python/ccpi/framework/BlockDataContainer.py#L195] but no `max()`. That's probably doing something else though. I can't understand it from the doc. A CIL issue?

[2020-08-25 16:16] KrisThielemans commented on #797
In C++, we could provide a default implementation in terms of `std::max_element` and iterators, but overload it for those where the engine provides its own implementation.

I guess it should throw if the underlying type is `complex`

[2020-08-25 16:18] KrisThielemans commented on #798
Relevant CIL lines are at https://github.com/vais-ral/CCPi-Framework/blob/2041fdc9651e1ae3e26cc50e46d47669dc918c1e/Wrappers/Python/ccpi/framework/framework.py#L856-L859

can't say I understand it...

[2020-08-25 16:30] ClaireDelplancke commented on #797
@KrisThielemans `x.maximum(y)` gives the array which is the element-wise maximum of x and y, in CIL as well as in SIRF.

The implementation of `max()` in CIL is for `CIL.DataContainer` [here](https://github.com/vais-ral/CCPi-Framework/blob/master/Wrappers/Python/ccpi/framework/framework.py#L1085), I don't think it's needed in `CIL.BlockDataContainer`.

[2020-08-25 16:36] ClaireDelplancke commented on #798
me neither...

[2020-08-25 16:39] paskino commented on #798
Thanks @KrisThielemans !!!

The idea is that `DataContainer` asked to do algebra with _something else_ will first check if this _something else_ has `__container_priority__` and then compare it with it's own. It will then instruct Python to use the method from the class that has highest `__container_priority__`.

This is to prefer `BlockDataContainer` algebra wrt `DataContainer`.

It seems that my

[2020-08-25 18:25] KrisThielemans commented on #798
I agree with @evgueni-ovtchinnikov that putting in all these `if` statements in SIRF is a bit weird. However, it is (strongly) motivated by our integration with CIL. It is a growing problem of course. We cannot really "expect" CIL to put specific SIRF work-arounds in either...

After reading https://stackoverflow.com/questions/5181320/under-what-circumstances-are-rmul-called, I think that `__mul__

[2020-08-25 18:36] ClaireDelplancke opened #799 "Division of a BlockDataContainer of ImageData by a non-zero scalar gives NaN pixels"
I believe this is related to Issue #798 but would like to flag it independently in case it's not.

If I define a `CIL.BlockDataContainer` made of `sirf.ImageData` blocks and divide it by a non-zero scalar, some (but not all) pixels are put to NaN.

[code]

outputs

[code]

[2020-08-25 19:02] KrisThielemans commented on #799
weird. might be easiest to figure out if we have non-random images. As the number of NaNs is non-random, it is likely that there's some structure here?

[2020-08-26 10:30] paskino commented on #798
I originally used the `__container_priority__` class member mimicking NumPy's `__array_priority__`.

I think so too, https://github.com/vais-ral/CCPi-Framework/issues/645

I realised yesterday that raising `NotImplemented` is a cleaner solotion. However, this means that we need to update all of CIL and we can't do it right now. I tried to argue as @KrisThielemans that temporarily using the `__cont

[2020-08-26 11:05] KrisThielemans commented on #798
@paskino I was wondering if do you have an `rmul` already, maybe we don't need a change at all in CIL. Worth a try?

[2020-08-26 11:25] paskino commented on #798
Yes, I was just thinking that if SIRF will return `NotImplemented` when trying to do algebra with objects that aren't supported by its own classes, it should be sufficient. CIL will still be using its `__container_priority__` trick and will anyway defer to `BlockDataContainer` the multiplication (or any other algebra).

[code]

outputs
[code]

[2020-08-26 11:55] KrisThielemans commented on #798
excellent. @evgueni-ovtchinnikov can you therefore create a SIRF PR return `NotImplemented` as suggested above as opposed to throwing an error?

[2020-08-26 12:04] evgueni-ovtchinnikov commented on #798
@KrisThielemans: in `__mul__`, `__rmul__` and `__div_` or `__rmul__` only?

[2020-08-26 12:52] ClaireDelplancke commented on #799
It's the same thing when taking an image constant equal to one or zero, but with a slightly different number of pixels.

Each time I restart the kernel the number of NaN pixels slightly changes, and the location of such pixels change, even for a constant image. In pictures:
![Unknown-4](https://user-images.githubusercontent.com/52972039/91305599-8da44b80-e7ab-11ea-98bb-06db0ce5ad83.png)

![Unknown

[2020-08-26 12:54] KrisThielemans commented on #798
My feeling is that this needs to happen for all binary operations. See e.g. https://stackoverflow.com/questions/51298551/python-operator-overloading-radd-and-add

[2020-08-26 12:58] KrisThielemans commented on #799
entirely weird.  And I presume that the division works ok on a SIRFDataContainer?

[2020-08-26 13:02] ClaireDelplancke commented on #799
Yes it does (at least on ImageData.)

[2020-08-26 13:05] paskino commented on #798
It needs to be implemented for all binary operations.

[2020-08-26 13:06] KrisThielemans commented on #799
@paskino @gfardell over to you then...

[2020-08-27 07:41] DANAJK commented on #798
Overloading can hide complexity that is not interesting to the user, but it can also make the code path very difficult to follow. If you think that the user, or future debugger, can only understand what is happening if they know the detailed subtleties of how Python decides what to do, then I suggest you do not overload.

One other comment, can you make it such that if an overload is "detected" th

[2020-08-27 10:46] paskino commented on #798
Just for completeness:

[code]
returns
[code]
We have never raised `TypeError`, but only `NotImplemented`. Python tried to find an appropriate method to perform the `*` and it failed: both `C` and `D` have a `__mul__` method but no `__rmul__`. This means that when invoking `C.__mul__` and raising `NotImplemented` Python went to see if `D.__rmul__` was available, and failing it returned `TypeError`

[2020-09-01 10:15] paskino commented on #799
Yes, @gfardell and I'll pick it up. Will require the fix discussed in #800.

[2020-09-03 11:19] paskino commented on #799
Using the following

[code]

fails at `tmp = image1.divide(1.)`. It is a SIRF error.

The cause is [this](https://github.com/SyneRBI/SIRF/blob/master/src/common/SIRF.py#L152) line where we use
`tmp = other + numpy.zeros_like(self.as_array().shape)` aiming at initialising a numpy array with the shape of the `self` DataContainer but we end up allocating it of shape `(3,)`.

Substituting with `tmp =

[2020-09-03 11:53] evgueni-ovtchinnikov commented on #799
have you tried `tmp = other + numpy.zeros(self.dimensions())`?

[2020-09-03 12:07] paskino commented on #799
I preferred `zeros_like` because that will make an array of the proper shape/type. `zero` will make one of type `numpy.float64` which may not be what we want or need.

Is there a way to infer what type we may need? I suppose the only types we support are `numpy.float32` or `numpy.complex`?

[2020-09-03 12:53] evgueni-ovtchinnikov commented on #799
I suggest we add method `dtype` (with `@property` decorator) to `ImageData` and `AcquisitionData` classes, returning `numpy.float32` for PET data, `numpy.complex64` for MR acquisitions and one of the two depending on `is_real` for MR images

using `as_array` just to determine data shape and type is a bit wasteful, is it not?

[2020-09-03 13:11] paskino commented on #799
@evgueni-ovtchinnikov, the method `dimensions` doesn't exist in Gadgetron `ImageData`.

[2020-09-03 13:49] paskino commented on #799
Unfortunately I have a build error

[code]

Any idea?

[2020-09-03 14:15] evgueni-ovtchinnikov commented on #799
you must be using old versions SIRF and STIR - my `Gadgetron.ImageData` does have `dimensions()` and Visual C++ finds `pd_ptr->end()`

[2020-09-03 14:42] paskino commented on #799
STIR is stir_rel_4_00_alpha
SIRF is [update_algebra_python ](https://github.com/SyneRBI/SIRF/tree/update_algebra_python)which is just branched from master

[2020-09-03 14:48] evgueni-ovtchinnikov commented on #799
`pd_ptr->end()` is the latest stuff from Richard, it only works on STIR master, I believe.

I checked SIRF master on GitHub, and I see `def dimensions()` on line 348 of `Gadgetron.py`.

[2020-09-03 14:57] KrisThielemans commented on #799
Please don't use `stir_rel_4_00_alpha` anymore. use the `release_4` branch. we need it for other stuff in SIRF anyway. If we jump to STIR `master` it creates a bit too high pressure on me for releasing STIR 5...

[2020-09-03 15:30] paskino commented on #799
@evgueni-ovtchinnikov yes, you are right `dimensions` exists.
@KrisThielemans I'll use STIR `release_4` branch

[2020-09-03 15:44] paskino commented on #799
`release_4` did the trick

[2020-09-03 16:09] paskino commented on #799
Tests are added to the SuperBuild here https://github.com/SyneRBI/SIRF-SuperBuild/pull/437

[2020-09-04 06:39] #799 closed

[2020-09-04 10:47] KrisThielemans commented on #798
still need to fix addition and other operations, but we've merged the multiplication and division already. This should prevent problems with CIL current algorithms.

[2020-09-09 16:19] #797 closed

[2020-09-10 13:27] evgueni-ovtchinnikov commented on #793
I understand `get_linear_acquisition_model()` is needed in CIL only and so is `direct()`.

If so, why not have `direct()` forward without constant terms (the way I suggested) rather than have it as just an alias to `forward()`? We would not need this ugly `get_linear_acquisition_model()` then, would we?

[2020-09-10 13:50] KrisThielemans commented on #793
we had a lengthy discussion on this in  #273. I can't recall it all unfortunately. Here's an example comment summarising it a bit
https://github.com/SyneRBI/SIRF/pull/237#issuecomment-443464885

My main feeling is that it'll get CIL in trouble once we want to support (truly) non-linear models see #738. I believe CIL will still want to use `direct` for the forward operation. I haven't had a lot of

[2020-09-16 16:46] KrisThielemans commented on #539
this seems obsolete. Closing therefore. Do reopen if that was inappropriate.

[2020-09-16 16:46] #539 closed

[2020-09-16 16:50] KrisThielemans commented on #429
This is no longer a pressing issue, although the general difficulties still remain. Pending #430 I guess, so I'll close this issue.

[2020-09-16 16:50] #429 closed

[2020-09-16 16:51] KrisThielemans commented on #218
This is done in CIL

[2020-09-16 16:51] #218 closed

[2020-09-17 08:37] paskino opened #804 "AcquisitionModel is missing the method norm"
Using CIL minimisation algorithms, oftentimes it is required to calculate the norm of an operator, e.g. in setting up PDHG, the 2 step sizes must be `sigma * tau < (1/operator.norm())**2`.

In CIL, for `LinearOperator` we use the [`PowerMethod`](https://github.com/vais-ral/CCPi-Framework/blob/17d56766525c569b2ebe4a692067bb945311c9f2/Wrappers/Python/ccpi/optimisation/operators/Operator.py#L118), wh

[2020-09-17 08:51] KrisThielemans commented on #798
probably needs more unit tests but functionality should be there

[2020-09-17 08:51] #798 closed

[2020-09-17 09:01] KrisThielemans commented on #579
only thing to do is the duplication of the FFT code.

[2020-09-17 09:04] KrisThielemans commented on #455
done in CIL, with some remaining issues listed separately already. #804

[2020-09-17 09:04] #455 closed

[2020-09-17 09:05] KrisThielemans commented on #433
we assume this is in Python. could have been done. @paskino to check.

[2020-09-17 09:10] KrisThielemans commented on #433
add reverse operations for add etc as well.

nice to have....

[2020-09-17 09:10] KrisThielemans commented on #433
operations are present in CIL

[2020-09-17 13:15] KrisThielemans commented on #433
needed for pdhg actually

[2020-09-18 10:12] paskino opened #805 "Add Gadgetron libs to target_link_libraries of cgadgetron"
Add consistently to cgadgetron CMakeList.txt lines to be able to link with the following libraries, avoiding hard coding of location etc.

[code]

[2020-09-18 10:55] KrisThielemans commented on #805
a PR to @johannesmayer 's branch please, NOT  SIRF master. This needs to be put within suitable safe-guards. If I cannot find them, we should be able to disable it, together with the new functionality. I think Richard helped with that already.

[2020-09-18 13:34] paskino commented on #805
Yes, sure, that was my aim.

[2020-09-21 08:03] evgueni-ovtchinnikov commented on #454
fixed by PR 801

[2020-09-21 08:03] #454 closed

[2020-09-29 11:21] #794 closed

[2020-09-29 15:26] evgueni-ovtchinnikov commented on #772
@paskino: actually, my last suggestion does not work - empty templates have correct dimensions (otherwise they would be useless)!

I created branch detect-template, where `AcquisitionData.number()` is set to 0 if there is no data - see PR 807.

[2020-09-29 16:19] KrisThielemans commented on #772
@evgueni-ovtchinnikov why do we need the `fill` if `self` is a template? I understand it for `get_uniform_copy` (otherwise there would be no data in it), but it seems that if you ask `allocate(None)`, you shouldn't expect that there is any data there (and in fact it would be a good feature if it errors out if you'd try to get its data anyway).

So, I wonder if we shouldn't swap let `stir.Acquisiti

[2020-09-30 08:24] evgueni-ovtchinnikov commented on #772
If `self` is an empty template, `out` will also have no data, so no memory will be alocated.

[2020-09-30 08:34] KrisThielemans commented on #772
sure, but if someone says `allocate(value=None)`, surely they will want to `fill` it later, so I believe that is alright.

[2020-09-30 08:41] evgueni-ovtchinnikov commented on #772
if one calls `allocate` they want to allocate, do they not?

[2020-09-30 08:47] KrisThielemans commented on #772
not sure. They want to have an object to play around with. Do they care if has already been "allocated"? I wouldn't think so.

[2020-09-30 08:52] evgueni-ovtchinnikov commented on #772
should be called differently then - `allocate` would be confusing

@paskino: since this is only needed for CIL, you are the one to resolve this

[2020-09-30 12:57] KrisThielemans commented on #772
CIL won't be able to change the name for sure. I still feel that the name reflects the concept. The user doesn't need to know if there's some memory (or disk space) reserved or not.

[2020-09-30 14:02] evgueni-ovtchinnikov opened #808 "C++ TODO"
- [ ] implement `DataContainer` methods `power`, `maximum` etc. in C++
  - [ ] implement `LinearAcquisitionModel` in C++ and interface into C

[2020-09-30 14:25] #793 closed

[2020-10-01 10:39] KrisThielemans commented on #572
@evgueni-ovtchinnikov @johannesmayer this seems to be the issue we talked about

[2020-10-01 10:42] KrisThielemans commented on #572
Possibly we could do this as follows: if ` ismrmrd_generate_cartesian_shepp_logan` is found, use it to generate the test data, otherwise use the existing data. Difficulty however is that ideally we don't let this overwrite the existing data, as that'll create trouble with `git` and subsequent SuperBuild updates. Therefore, the tests will need to be passed the filename (maybe that's trivial, I don'

[2020-10-01 10:43] KrisThielemans commented on #432
@evgueni-ovtchinnikov @johannesmayer is this still relevant?

[2020-10-01 11:09] evgueni-ovtchinnikov commented on #432
will no longer be when #572 is fixed

[2020-10-01 11:24] evgueni-ovtchinnikov commented on #572
we could add subfolder `data` to `examples` to hold newly generated data

can cmake delete files? (because `ismrmrd_generate_cartesian_shepp_logan` would add to existing file)

[2020-10-09 15:06] johannesmayer opened #810 "MR AcquisitionData subtraction loses member information"
We encountered the problem that when we use subtraction of numbers on MR data containers then we lose a lot of information:

<img width="1006" alt="Image  2" src="https://user-images.githubusercontent.com/10499392/95599574-8da59580-0a51-11eb-91f1-0d1e4e1970d2.png">

The same thing happens if you do
[code]
This means that the subtraction effectively loses all the information contained in the underl

[2020-10-13 14:46] #810 closed

[2020-10-19 16:02] evgueni-ovtchinnikov commented on #772
@paskino: `AcquisitionData.number()` now returns 0 for templates.

[2020-10-24 13:28] AnderBiguri opened #812 "ImageData.zoom_image(offsets_in_mm) size orders"
I am trying to change the geometric info of an `sirf.STIR.ImageData` object.

While doing some tests, I tried:

[code]

Which prints:

[code]

What threw me off is that offset is printed as `(-350, -350, 21.52)`, the variable `off` has values `off=(-350, -350, 21.52)`, yet, when I use the last value of `off` into `offsets_in_mm`, its the first value of the offset that gets changed.

This seems jus

[2020-10-24 14:38] KrisThielemans commented on #812
duplicate or similar to #791. we do need to sort this out of course.

[2020-10-24 14:41] AnderBiguri commented on #812
@KrisThielemans yes indeed, I already linked it in the issue. Did not realize it was a similar thing until after I posted it.

[2020-10-24 15:10] AnderBiguri opened #813 "Document zoom_image() operation order"
If you zoom and offset in the same call to `zoom_image()` the amount of offset changes by some unknown ration.

I suppose this is because operation order?

e.g:

[code]
[code]

the `zoom` is correct, but the offset is now `+2.0932` instead of `-10`. What is happening here? I can't figure it out, but if there is a logic behind this, then it should possibly be documented.

[2020-10-24 15:25] KrisThielemans commented on #813
This is a STIR difficulty. Francesca struggled with it as well and so did I. I put some of that in https://github.com/SyneRBI/SIRF-Contribs/tree/master/src/Python/sirf/contrib/brainweb-utilities.

The convention is really rather hard, and I'd rather avoid this signature and use a template #696

Depending on what you need, it might be easier to use `sirf.Reg` for resampling (`zoom_image` can use co

[2020-10-24 15:39] AnderBiguri commented on #813
Agreed, the best way of doing this is via template. But its not supported yet! There should be either documentation to current code or a different code, but otherwise all this is in limbo.

I guess we should definitely close this issue if #696 gets solved by overwriting the current usage.

[2020-10-26 11:22] AnderBiguri opened #814 "SeparableGaussianImageFilter has no attribute `input`"
[code]
errors as:

[code]

Solution is easy, give `process()` the input as argument. But given that `set_up` requires an image, should we either set it up as `self.input`, or instead, just improve the check in `process` with something like `hasattr(self,"input")`?

(happy to do a PR, just let me know which option you prefer)

[2020-10-28 08:34] KrisThielemans opened #815 "GeometricalInfo::print_info output can be hidden when run from Python (or MATLAB?)"
We print to `std::cout`
https://github.com/SyneRBI/SIRF/blob/75364cb9367da94dabca8f79cbb976fcd5eb1d3a/src/common/GeometricalInfo.cpp#L27-L31

However, when called from VS Code Python, and probably MATLAB GUI, `stdout` is hidden, so the function appears to do nothing.

We should therefore have a `get_info()` function that returns it as a string. Of course, we can let `print_info()` still do the sam

[2020-10-28 08:34] KrisThielemans commented on #815
Let's make a list here with other functions (if any) with similar functionality.

[2020-11-04 15:10] KrisThielemans opened #816 "sirf.Reg.compose_single_deformation check on reference is too restrictive"
The check https://github.com/SyneRBI/SIRF/blob/0721ed9332b295e11529d37aed7ce7795815157b/src/Registration/pReg/Reg.py#L720
fails if an image is read with `sirf.Reg.NiftiImageData` as opposed to `sirf.Reg.NiftiImageData3D`.

What about putting a step in between attempting to convert it first
[code]
(could catch exception if the conversion fails, but not sure if that'd help).

However, I've tried to

[2020-11-04 22:56] rijobro commented on #816
The first solution looks good to me -- if not `NiftiImageData3D`, try to convert and else raise an error.

As for the second, that seems entirely weird: [here](https://github.com/SyneRBI/SIRF/blob/master/src/Registration/cReg/NiftiImageData.cpp#L549) you can see the checks done on the  3D, one of the ones being that `ndim==3`, which isn't the case here... Can you do `sirf.Reg.NiftiImageData3D(Disp

[2020-11-04 23:14] KrisThielemans commented on #816
I can't do `print_header` at the moment as it's running from Visual Studio Code, so hides stdout. But I can do the following
[code]
I also wrote both to file (`tmp.write('tmp.nii')` etc) and then print headers. They seem identical (which isn't unexpected)
[code]
[code]

[2020-11-11 18:08] KrisThielemans opened #818 "double exception during assert_validity in Python"
If you pass the wrong type to a function (which is checked with `assert_validity`) we get a double error, which is very confusing for the user
[code]

[2020-11-12 10:26] KrisThielemans opened #819 "add CMake options to build without ISMRMRD support (or presumably STIR)"
If you do PET only, you don't want to be bothered with build errors etc in ISMRMRD. It should be possible to switch this off in CMake.  Presumably, it'd imply that the synergistic things have to be switched off as well.

[2020-11-13 11:58] ClaireDelplancke opened #820 "Set-up of PET acquisition model with normalisation and attenuation correction"
The way to set-up a PET acquisition model with normalisation and attenuation correction is currently to first create a single object out of the normalisation `asm_norm` and acf `asm_attn` in the following way:
`import sirf.STIR as pet`
`asm = pet.AcquisitionSensitivityModel(asm_norm, asm_attn)`
then pass it to the acquisition model `acq_model` as follows:
`acq_model.set_acquisition_sensitivity(asm

[2020-11-13 12:09] KrisThielemans commented on #820
I think this might be more logical to most people. We can internally still chain them up such that it is only at the `set` stage that we need to make any changes. (It'd also get rid of the problem with the ugly workaround for the STIR bug on attenuation)

[2020-11-17 08:50] KrisThielemans commented on #804
@evgueni-ovtchinnikov can this be closed since you merged #811?

[2020-11-17 09:04] evgueni-ovtchinnikov commented on #804
yes it can now, closing...

[2020-11-17 09:04] #804 closed

[2020-11-17 13:39] #818 closed

[2020-11-17 14:47] AnderBiguri opened #822 "DataContainer operators that consider the geometry"
Would it make sense to try to have operations that consider the geometry when being applied?

Say having `image_data1` and `image_data2`. Nowadays we can do `image_data1*image_data2` as long as both are the same size, as the code will take the arrays and elemetwise multiply them.
However, what if the geometries are different? Not only the size of the array, but offsets etc. It could be useful (it

[2020-11-17 14:49] AnderBiguri commented on #822
PD: I am trying to mask a DVF with an ImageData of different size, and there seems to be no trivial way of doing it, other than re-coding the geometric positioning myself to be able to interpolate the mask to the DVF geometry metadata.

[2020-11-17 16:11] KrisThielemans commented on #822
I'd hesitate to hide this kind of stuff behind `operator+` or whatever. If the user wants to add images from different bed-positions, times, motion states etc, then she needs to know what to do and be warned when inadvertently doing the wrong thing (it seems hard/impossible to discover from the data exactly what needs to be done).

however, of course it'd be useful to have functionality that helps

[2020-11-17 16:19] AnderBiguri commented on #822
I 100% agree that this should not bee easily accessible if it would exist, it should be hidden under some non-misleading function names etc, I'd also would not overload the operators themselves.

Of course Daniels code came into mind, and I understand that some non-trivial additions is being made there.
You are correct that this would go into "advanced/specific" use of SIRF, but we should allow ad

[2020-11-17 16:25] KrisThielemans commented on #822
not sure. too woolly to me 😉 . We have the resample stuff. what else are you thinking of?

[2020-11-17 16:47] AnderBiguri commented on #822
What do you mean we have the resample stuff?

What I mean is that if I have `dc1` and `dc2` `DataContainer` objects, with arbitrary geometry information (offsets, pixel sizes etc), I'd like to be able to do maths with them, without me needing to code the geometry trasnforms between pixels. That would need interpolation, translations and trimming/filling, to convert one into the other space, so the

[2020-11-17 16:50] evgueni-ovtchinnikov commented on #814
The error message is confusing because I forgot at the time of writing that in Python base class properties are not inherited and did not initialize self.input to None. If I did, the error message would be perfectly clear: 'input image not set'.

Fixed now.

[2020-11-17 16:50] #814 closed

[2020-11-17 21:39] ALEXJAZZ008008 opened #823 "When using Numpy translate SIRF ignores new strides etc"
I found that when using Numpy translate if the matrix is not hard copied then SIRF fill does not reflect the translation. This is possibly due to the fact that Numpy translate only changes the way the data is read not the data itself.

It seems that Evgueni has tried an experiment:

[code]

and he did not find the same as me.

My code was:

[code]

The following fixed the issue:

[code]

[2020-11-18 11:17] AnderBiguri commented on #822
Clearly my example was wrong, should have been

        res_tenplate.initialise((dvf_arr.shape[2],dvf_arr.shape[1],dvf_arr.shape[0]),  intra_patient_dvf[-1].get_geometrical_info().get_spacing(),  intra_patient_dvf[-1].get_geometrical_info().get_offset())

Will check if that does what I want for my particular problem, and if it does, I guess I'll close this suggestion, as doesn't seem that you like

[2020-11-18 12:26] AnderBiguri commented on #822
Resampling works well

[2020-11-18 12:26] #822 closed

[2020-11-18 12:47] evgueni-ovtchinnikov commented on #823
I did
[code]
and I got images with x and y axes swapped in my_image_zxy.

You must be using some old version of SIRF, please check.

[2020-11-18 15:59] KrisThielemans commented on #791
thanks for fixing the Python side @evgueni-ovtchinnikov. However, is the underlying C++ code not problematic either? And what about `get_spacing` etc?

Could you check if any of these are used in the demos/SIRF-exercises?

[2020-11-18 16:15] evgueni-ovtchinnikov commented on #791
C++: in STIR, images dimensions order is zyx, in ISMRMRD xyz, so a synergistic code cannot avoid confusion (cf. MATLAB vs Python array dimensions).

I did change `get_offset` and `get_spacing` too.

And I did check they are not used anywhere except one place in `test_pReg.py`, where dimensions, however, are all equal.

[2020-11-18 17:06] #579 closed

[2020-11-18 17:15] #573 closed

[2020-11-18 17:41] KrisThielemans commented on #822
Can you confirm you needed the `shape` arguments in that order? This should not be the case. Related is https://github.com/SyneRBI/SIRF/issues/791

I think we need a constructor (and `initialise`) that just takes a `GeometricalInfo` object, as it has all it needs. Please create an issue for that as well.

[2020-11-18 17:44] AnderBiguri commented on #822
@KrisThielemans problem is, DVFs are XYZMN dimensions (M=1,N=2) while ImageData is ZYX. I don't think that is necesarily a bug, just an inconsistency between the convention in SIRF.

[2020-11-18 17:46] AnderBiguri opened #824 "Allow DataContainers to be initialized with a GeometricInfo object"
Related discussion at #822

[2020-11-18 17:47] AnderBiguri commented on #822
Also, I have opened the issue, but I guess there is a way to do it now, which is to clone an object. My issues are because one is a DVF, the other one an image.

[2020-11-18 18:05] KrisThielemans commented on #824
Useful for instance when you have an image of one type (e.g. Nifti) but want to create another type (e.g. STIR) with the same geometry

[2020-11-18 18:08] KrisThielemans commented on #822
Is this true? If you have `NiftiImageData`, and you register them, does the `NiftiDeformationField` have different shape? Probably not. (of course, all bets are of with mixing `STIRImageData` in the game, as that has a fixed orientation, while `Nifti` doesn't)

[2020-11-18 18:24] KrisThielemans commented on #791
I would like to avoid terms like xyz as much as possible. With image data types that can store objects in various orientations, and patients that can be put in the scanner in various orientation, that terminology becomes rather hard to stick to 😉 .

In fact, this is now starting to give me a headache.
- `get_offset` should be in LPS (it's a coordinate that in a coordinate system that is fixed to t

[2020-11-18 18:24] AnderBiguri commented on #822
It was indeed a STIRImageData, not a Nifti one, as created my mask from CT images.

[2020-11-19 12:15] KrisThielemans opened #825 "add set functions to GeometricalInfo"
It would be intuitive to be able to manipulate a `GeometricalInfo`, and then create a new object from it (#824 ). You might want to change the voxel-size, or extent/bounding box, or even offset.

[2020-11-19 12:16] KrisThielemans commented on #825
before we go ahead and implement it, let's discuss an interface for it here.

[2020-11-19 13:16] ClaireDelplancke commented on #823
I also need to pass transposed and flipped images although to STIR, not SIRF, and the equivalent of @evgueni-ovtchinnikov's code above works for me.

[2020-11-20 00:05] #823 closed

[2020-11-20 08:23] DANAJK commented on #825
In some of my other work, I use a structure to keep track of geometry. This has fields that parallel the DICOM geometry description (3D patient coordinate of centre of top left voxel, pixel sizes (mm) and the 3D direction of the rowa and columns). I then have a function that will update these parameters for in-plane 'transformations' such as cropping, padding, voxel size change, rotation and flipp

[2020-11-20 09:25] KrisThielemans commented on #825
@DANAJK, exactly. That's what 'GeometricalInfo' is (except that it is a class and not a structure),  [C++](https://github.com/SyneRBI/SIRF/blob/b36c1b2378644d6cbc2b4cdab53210e3e16db25c/src/common/include/sirf/common/GeometricalInfo.h), [Python](https://github.com/SyneRBI/SIRF/blob/bb7690e0c333d673c4f3c712696e45ea827b542b/src/common/SIRF.py#L648-L653), [Matlab](https://github.com/SyneRBI/SIRF/blob/

[2020-11-20 09:27] KrisThielemans commented on #555
- [ ] doc for `GeometricalInfo` currently says https://github.com/SyneRBI/SIRF/blob/75364cb9367da94dabca8f79cbb976fcd5eb1d3a/src/common/%2Bsirf/%2BSIRF/GeometricalInfo.m#L2

[2020-11-20 09:54] Ede1994 opened #826 "Documentation SeparableGaussianImageFilter()"
I want wo use a gaussian filter, as in this example (https://github.com/SyneRBI/SIRF/blob/master/examples/Python/PET/acquisition_model.py#L102-L108).

Is there a more detailed documentation? I've only found the ```class SeparableGaussianImageFilter(ImageDataProcessor):``` in ```~/SIRF-SuperBuild/Install/python/sirf/STIR.py```.

[2020-11-20 12:02] DANAJK commented on #825
For many applications, you will probably want to update an existing Geometrical Info, rather than make a new copy.

The names I used for the methods were: 'rot', 'flip', 'circshift', 'remove_oversampling', 'zeropad' and 'imresize'. I update the image data and the geometrical data within the same function - this keeps the code in one physical file.

[2020-11-20 13:58] evgueni-ovtchinnikov commented on #568
looks like this fix has been merged

[2020-11-20 13:58] #568 closed

[2020-11-20 14:08] evgueni-ovtchinnikov commented on #552
VM now has deprecation, so closing the issue

[2020-11-20 14:08] #552 closed

[2020-11-20 14:57] #631 closed

[2020-11-20 16:30] evgueni-ovtchinnikov commented on #591
closing as clearly none of us have sufficient expertise to debug `numpy.dot`

[2020-11-20 16:30] #591 closed

[2020-11-20 16:44] evgueni-ovtchinnikov commented on #587
looks sorted

[2020-11-20 17:26] evgueni-ovtchinnikov commented on #548
There is hardly any harm in having `read_from_file`, whereas removing it would unnecessarily hit those who use it already.

[2020-11-20 17:26] #548 closed

[2020-11-20 17:32] evgueni-ovtchinnikov commented on #496
I do not seem to have any problem with SIRF Registration code any more.

[2020-11-20 17:32] #496 closed

[2020-11-20 17:34] evgueni-ovtchinnikov commented on #495
outdated

[2020-11-20 17:34] #495 closed

[2020-11-20 17:35] evgueni-ovtchinnikov commented on #482
outdated

[2020-11-20 17:35] #482 closed

[2020-11-20 17:36] #481 closed

[2020-11-20 17:38] evgueni-ovtchinnikov commented on #475
clearly outdated

[2020-11-20 17:38] #475 closed

[2020-11-21 09:55] DANAJK opened #827 ""offset" (ImagePositionPatient) should be a float, not int"
This code in GeometricalInfo appears to use an int32 for the "offset". This is a 3D coordinate that can take any value so it should be floating point.

[code]

[2020-11-21 11:04] DANAJK opened #828 "Documentation"
[UserSpecification.md](https://github.com/SyneRBI/SIRF/blob/master/doc/UserSpecification.md ) in SIRF/doc is old.

[**DeveloperGuide.md**](https://github.com/SyneRBI/SIRF/blob/master/doc/DeveloperGuide.md)
This refers to old CCPPETMR GitHub site.

The description of Software layers renders in my browser as just a list spread over 4 lines - the layers are not obvious.

[SIRF/src/common/GeometricalI

[2020-11-24 01:20] ashgillman commented on #825
I'm not quite sure when you might want to change voxel size (you should be using the resampling facility for this, right?).

Changing the extent and bounding box can't be done without also modifying the image container, and could also be done with the resampling operator.

I think the main reason you'd want to do this is to apply a transform to an image without resampling (an operation we called "

[2020-11-24 08:25] DANAJK commented on #825
You need to change voxel size when comparing two reconstructions that used different underlying voxel sizes, e.g. in MR a high resolution T2 image and a diffusion image. For PET/MR, this could be to compare the PET and MR reconstructions.

I agree this needs a resampling. I don't mind where the code that updates the geometrical info goes, so long as it is documented and tightly coupled to the code

[2020-11-24 09:12] KrisThielemans commented on #825
I personally prefer to make resampling explicit. It also allows you to specify interpolation, boundary conditions etc. Of course, our current interface is too verbose for many, but here it is in full generality as an example
[code]
If you would use an identity transformation, this would keep geometry in the same place. I guess at present we have to create an explicit identity transformation, but t

[2020-11-24 09:25] DANAJK commented on #825
OK. So after this, would
`resampled.get_geometrical_info()`
correctly return the updated geometrical info?

[2020-11-24 09:29] KrisThielemans commented on #825
yes it does that already now.

[2020-11-24 09:33] KrisThielemans commented on #825
If desired, we could add the `rotate` et al methods to `ImageData` I guess, with an optional specification of the resampler. It would then do the above lines. It would lead to more code duplication at the class level (but possibly less for the user).

[2020-11-24 09:36] KrisThielemans commented on #825
Note that there are complications here about the type of `ImageData`. What I've lost with the `target_geometrical_info` option is the type of the desired output image. I guess can be folded in as well.

Another caveat is that with named arguments in Python, things are rather clear, but neither C++ nor Matlab have that, so there things are messier.

[2020-11-24 10:00] DANAJK commented on #825
The example below would be fairly intuitive, but it needs the `rotate` method to have an implicit understanding of how `NiftyResample` is going to interpret origins, rotation signs etc?

[code]

[2020-11-24 10:12] ashgillman commented on #825
I don't think it's necessary to pass the geom_info to the resampled in your shortened example. Why not:
[code]
I think this would be a lot easier to implement (I think Nifty internally would need an image) and solves the data type problem. And seems intuitive to anyone who has used registration tools before.

I think the `image_data.reorient(transform)` proposal above would also accommodate what y

[2020-11-24 10:14] ashgillman commented on #825
So to rotate an image 45 degrees about X without resampling:

[code]

[2020-11-24 11:01] KrisThielemans commented on #825
Everything in SIRF related to geom_info is supposed to work in LPS. We can represent rotations in different way as we know of course. It'd probably explicitly specify rotation centre, as otherwise people will get confused.

yes, of course. This is essentially our current way of doing this. However, this has the eternal problem that you need to have a template-image. With this issue, I was aiming t

[2020-11-24 11:07] ashgillman commented on #825
Perfect, sorry I'd have looked up the existing implementation naming but I'm just on mobile.

I think so.. we didn't quite discuss cropping, which works with resampler but I guess shouldn't really need building with Riftyreg..

[2020-11-25 17:01] evgueni-ovtchinnikov commented on #815
closed by fc65521, which added MATLAB interface to `get_info()` (sorry, forgot to put 'fixed' in the commit message)

[2020-11-26 08:54] KrisThielemans commented on #815
Great. Thanks! However, I believe `print_info` in Python should still be written in terms of `print(get_info())` and not call the C++ version.

In fact, I suggest to deprecate the `print_info` function, in the future reducing our code just a little bit more.

[2020-11-26 09:00] KrisThielemans opened #829 "get_info() improvements"
After #815, I think we need a few others
.
- [x] deprecate the C++ `print_info` function, in the future reducing our code just a little bit more.
- [x] check the docstrings for `get_info()`? We have a number of them (great!) but most don't seem to say they return a string.
- [x] does `MRAcquisitionData::get_info()` return something else? If so, we need to make that very clear in the doc, and I sug

[2020-11-26 09:01] KrisThielemans commented on #829
not urgent. Maybe can do this in different PRs.

[2020-11-26 16:50] #827 closed

[2020-11-29 12:39] rijobro opened #830 "Ability to modify NiftiImageData metadata"
It would be useful to be able to modify some of the metadata stored in `NiftiImageData`.

Similar to `nifti_tool -mod_hdr  [-mod_field FIELDNAME NEW_VAL] [...] -infiles f1` [here](https://afni.nimh.nih.gov/pub/dist/doc/program_help/nifti_tool.html).

You'd potentially need to update linked metadata, such as the `geometrical_info` class, or if you modify `qto_ijk`, you'd need to also modify `qto_xy

[2020-11-29 17:23] rijobro opened #831 "bug when concatenating affine transformations?"
We are getting bad results with `O = R^-1 * T * R`, where `R` is a transformation matrix that maps the MR to PET gantry shift, `T` is a deformation in MR coordinates, and `O` is a deformation in PET coordinates.

In SIRF, we convert all transformations to deformations and then concatenate them.

This was giving bad results. I checked with NiftyReg and that seemed to give expected results. The diff

[2020-11-29 19:02] rijobro commented on #831
Edit: We should use the reference when composing displacements/deformations before using them with resampling, but shouldn't use them otherwise.

[2020-11-29 19:47] KrisThielemans commented on #831
can't say I understand that sentence... I never understood why you'd need to use the reference image at all when composing transformations, or even defining/using them.
- A transformation matrix is independent of the "reference" sampling
- A def/disp field is defined in a certain space which I guess is the "reference" anyway.

I can see that resampling with a transf matrix needs a "reference" (i.e

[2020-11-29 20:12] rijobro commented on #831
Ideally I would have it such that if all transforms to be concatenated were matrices, you would just do matrix multiplication.

If there was a combination of matrices and disps/defs, then I guess you should just be able to update the `sto_ijk` and `qto_ijk` matrices. But I that's not how the [reg_transform](https://github.com/KCL-BMEIS/niftyreg/blob/master/reg-apps/reg_transform.cpp#L577) executab

[2020-11-29 20:17] rijobro commented on #831
From the hyperlink in the previous comment, you should see that only the affine transformations use the reference image, whereas in the [resample executable](https://github.com/KCL-BMEIS/niftyreg/blob/master/reg-apps/reg_resample.cpp#L323) all transformations gets modified to match the reference image.

I'm just trying to mirror niftyreg functionality, and based on those two executables I get the

[2020-12-02 18:02] KrisThielemans opened #833 "ctests MR_DEMOS_PYTHON and MR_GADGETRON_DEMOS_PYTHON succeed even without gadgetron"
when you don't have gadgetron running, `MR_TESTS_CPLUSPLUS` etc fails, but these "demos" ones don't. Something to do with exit values of the scripts I guess

[2020-12-04 12:57] gfardell opened #834 "axpby renaming to xapby"
STIR's `axpby` method has been deprecated. SIRF needs to be updated to use STIR's `xapyb` and `sapyb` methods.

Issue #748 is related to this at the interface level.

[2020-12-08 13:47] #815 closed

[2020-12-10 09:58] KrisThielemans commented on #299
we won't fix this at the moment as currently not required

[2020-12-10 09:58] #299 closed

[2020-12-10 10:09] KrisThielemans commented on #293
They fixed one bug in `master` quite a while ago.  We need to retest this with current Gadgetron master

[2020-12-10 10:19] KrisThielemans commented on #55
Need to use `BinNormalisationFromGEHDF5` if it's a HDF5 files

[2020-12-10 10:22] #198 closed

[2020-12-10 10:26] KrisThielemans commented on #153
relevant STIR code is at https://github.com/UCL/STIR/blob/master/CMakeLists.txt#L215-L244

[2020-12-10 10:29] KrisThielemans commented on #123
See Software Outlook report https://epubs.stfc.ac.uk/work/45434573

[2020-12-10 17:20] evgueni-ovtchinnikov commented on #290
I believe a much simpler solution is to set storage scheme to `memory` and clone the acquisition data read from file.

[2020-12-10 17:20] #290 closed

[2020-12-11 18:08] KrisThielemans opened #835 "potential problem with NiftyReg with non-standard nifti header"
I got this from Jamie McClelland. I haven't checked yet if it applies to SIRF, but I guess it would as we just use their functionality.

But if you use the svf parameterisation (i.e. -vel flag) then the registration behaves itself and does nothing as expected.  I’m not sure what’s causing the problem  but I suspect it may be related to the nifti header as the test image used has some large rotatio

[2020-12-13 12:43] AnderBiguri opened #836 "Open the new Github "Disscussions" feature"
Often, issues that I have, or that some other people have are not really Issues, but questions about how A or B is used.
This tends to be annoying to have in the Issues tab (my opinion) for devs, and often its useful information for a future reader that has the same question, yet the issue will likely get closed.

Github has now an optional tab called Discussions that opens a forum-like page to as

[2020-12-13 13:31] AnderBiguri opened #837 "Resampling dvfs removes vector information"
Context:

I have some image `img=sirf.stir.ImageData()` and some dvf  `dvf=stir.Reg.NiftiImageData3DDisplacement()`

I want to know the value of `dvf` at a particular `img` location `[x,y,z]`. something like `img[z,y,x]` `dvf[x,y,z,0,:]`.

As these are not directly indexable, I will need to probably need to do `as_array()` and index that, however, they are not in the same space, so I need to regis

[2020-12-14 13:37] jamie-mcclelland commented on #835
[101_C0.nii.gz](https://github.com/SyneRBI/SIRF/files/5689072/101_C0.nii.gz)

I've attached the image used above

[2020-12-14 16:29] evgueni-ovtchinnikov commented on #833
closed by 10d069f

[2020-12-14 16:29] #833 closed

[2020-12-14 19:14] casperdcl commented on #836
opened https://github.com/SyneRBI/SIRF/discussions

can also convert current issue(s) to discussions if you can think of any...

[2020-12-14 19:14] #836 closed

[2020-12-15 22:30] KrisThielemans opened #838 "STIR master changes in BinNormalisation break SIRF"
https://travis-ci.org/github/SyneRBI/SIRF/jobs/747224491 (error is at the very end)
[code]
This is due to https://github.com/UCL/STIR/pull/672 which introduced a backwards incompatibility.

we will need to add a conditional test on `STIR_VERSION` unfortunately.

[2020-12-16 14:12] #838 closed

[2020-12-17 14:49] KrisThielemans commented on #55
Use
https://github.com/UCL/STIR/blob/master/src/include/stir/IO/GEHDF5Wrapper.h
[code]
if `true`, then read with `BinNormalisationFromGEHDF5`
[code]

[2020-12-17 15:01] KrisThielemans commented on #137
Relevant STIR code is in https://github.com/UCL/STIR/blob/72ba889720a83314a8f1e258cf65d4bab9483be6/src/utilities/construct_randoms_from_GEsingles.cxx

We will need to make the loop there a function in STIR, such that we can call it from SIRF. It would be nice to do that in the `release_4` branch of STIR, such that it will be included in STIR 4.1 (hopefully released soon)

[2020-12-21 09:30] #55 closed

[2020-12-24 11:02] KrisThielemans opened #839 "warnings on visual studio: please define _WIN32_WINNT or _WIN32_WINDOWS"
Probably while compiling `gadgetron_data_containers.cpp` we get:
[code]
This seems to come from Boost ASIO., or another Boost library.

This is discussed at https://github.com/boostorg/asio/issues/81 with suggested resolution to create a file setting this, and including it before including the boost file (see the `targetver.h` file, but would need a different name for us, or can stick this togethe

[2020-12-28 15:06] KrisThielemans opened #842 "pTest problem with __del__ and exceptions"
I've currently got some failures (on Windows, Python 3.8), which gives me the following confusing output
[code]
I think the underlying reason (certainly for the first warning, possibly not for the double exception) is that `pTest.__del__` should not raise an exception, but exceptions in `__del__` are printed but ignored. In fact, `pTest.__del__` probably shouldn't exist at all as it isn't guarante

[2020-12-28 15:06] KrisThielemans commented on #842
@casperdcl maybe you could help?

[2020-12-28 16:54] casperdcl commented on #842
Is the problem duplicate error messages? It doesn't make sense to me to re-raise in `__del__`.

I think the real problem is reinventing the wheel with our own test class. The idea seems to have been to collect failures and raise all of them in one go at the end (rather than failing early at the first exception).

Using another test suite to manage this (e.g. `pytest`) would make life much easier -

[2020-12-28 17:00] KrisThielemans opened #843 "PET tests can fail due to accuracy in recorded values"
`pTest` normally compares with recorded values as opposed to known true values. Those recordings can be a bit wrong due to numerical precision.  This makes the tests with another compiler/processor more prone to failure.

I experience this on Windows with Visual Studio 2019.

[2020-12-28 17:14] KrisThielemans commented on #842
There are possibly 2 independent problems, but I'm not sure. I now think that the "double exception" is because
https://github.com/SyneRBI/SIRF/blob/554da3201e6bd5ca0fc4f3d606dd5d2ac9d56532/src/common/Utilities.py#L286-L292
but am not sure.

I agree that `pytest` is nice and that having our own test class is possibly complicating things for the new developer, but it does have the convenient featur

[2020-12-30 16:43] DANAJK opened #845 "Additional .h5 extension in output filenames"
Image writing adds a '.h5' extension. However the python `fully_sampled.py` example uses `output.h5` as the default name, resulting in a file called  `output.h5.h5`.
[This is a corrected issue, a previous version referred incorrectly to `grappa_basic.py`.]

[2021-01-05 10:50] #842 closed

[2021-01-06 14:51] #843 closed

[2021-01-08 11:26] paskino commented on #555
In Python STIR.py and in `AcquisitionModel` we updated the default signature of `forward` and `backward` https://github.com/SyneRBI/SIRF/pull/821#issuecomment-756064065

 - [ ] add instance member `num_subsets` and `subset_num` to `AcquisitionModel` in MATLAB
 - [ ] use these as default values for `backward` and `forward`

[2021-01-08 21:53] KrisThielemans commented on #587
This `Winsock.h` error comes up for me. We probably have to define the `WIN32_LEAN_AND_MEAN` variable at CMake level such that it's used everywhere

[2021-01-11 12:07] evgueni-ovtchinnikov commented on #845
This was apparently corrected some time ago.

[2021-01-11 12:53] #587 closed

[2021-01-12 08:24] DANAJK commented on #845
I was using the exercises that were installed when I set up SIRF using Docker sometime in the past ~2 weeks. My command prompt implies I am using SIRF v2.2.0. Locally, my installed `fully_sampled.py` uses a default output file of `output.h5`, but I see that on the Git Hub website, on the master branch, also labelled v2.2.0, the default filename is `output`.
Not sure how it is there seem to be diff

[2021-01-12 08:39] KrisThielemans commented on #845
This took me a while as https://github.com/SyneRBI/SIRF/blob/master/examples/Python/MR/interactive/fully_sampled.py doesn't contain this code.. I finally found it in
https://github.com/SyneRBI/SIRF/blob/2e1d74aa4d40f5edf6a441d54e60a26a55f79b71/examples/Python/MR/fully_sampled_recon.py#L14

This was corrected in https://github.com/SyneRBI/SIRF/commit/c4e543b6fbb661fa30d4cbaaae9e21ad1651bc82
(always

[2021-01-12 08:43] KrisThielemans commented on #845
However, should our writing routine check if this is going to happen? There's a few options:
- don't provide a default extension (easy/safe/most flexible)
- if there is a `.h5` extension already, don't add another one (easy enough and safe)
- if there is any extension already, don't add another one (this strategy followed in STIR  Interfile but it causes trouble as it means you cannot use filename

[2021-01-12 09:23] DANAJK commented on #845
When I first encountered this issue, I spent some time trying to figure out where the .h5 extension was added - but without success.

My preference would be to not change the filename 'behind the scenes'. In other words, the filename is whatever the user provides, or the stated default, and these would include the .h5 extension.

[2021-01-12 09:29] DANAJK commented on #845
In my Ubuntu VM, the command prompt is:
`(base) sirf:/opt/SIRF-SuperBuild/sources/SIRF/examples/Python/MR ((v2.2.0))$`

(There is a separate issue that this command prompt doesn't work in a Jupyter terminal resulting in the command prompt that is an error message ....)

If you go to the page below, on the right it says Releases SIRF v2.2.0 (latest):
https://github.com/SyneRBI/SIRF

[2021-01-12 09:35] KrisThielemans commented on #845
ok. yes, v2.2.0 is the latest release, and I guess you're using the `release` docker image. (somewhat confusingly, the `latest` docker image corresponds to SIRF `master`, at the time of the last SIRF-SuperBuild update).

If you don't mind creating a SIRF-SuperBuild issue on the problem with the prompt. I have no idea where that comes from.

[2021-01-12 09:36] KrisThielemans commented on #845
I agree with that. @evgueni-ovtchinnikov  @ckolbPTB what do you think?

[2021-01-12 09:42] ckolbPTB commented on #845
yes, I agree. I would not change the filename either.

[2021-01-12 09:44] KrisThielemans commented on #845
reopening therefore

[2021-01-12 09:47] KrisThielemans commented on #845
@evgueni-ovtchinnikov is there a reason for appending `.h5`? If not, please assign this to v3.0 milestone, create a PR for it removing that feature. It will need to have a link in `CHANGES.md` warning about backwards incompatibility (potential changes in the UserGuide as well? maybe not)

[2021-01-12 09:58] DANAJK commented on #845
Also, the different examples do not all have the same default behaviour. I think `grappa_basic.py` produces no output file if the user does not explicitly provide an output filename.

[2021-01-12 09:59] evgueni-ovtchinnikov commented on #845
how about PET side?

[2021-01-12 10:10] KrisThielemans commented on #845
good point. Unfortunately, this is currently handled by STIR, causing the above problem. It's behaviour is to append extensions of none given (`'.hv` for header, '.v' for binary data, 'ahv` for an (mostly obsolete) older format of the header)

[2021-01-12 10:31] KrisThielemans commented on #845
The  complication for the default output format (Interfile) of STIR is that it has separate headers and binary data. I checked the STIR logic a bit more. [here's the code](https://github.com/UCL/STIR/blob/fe1af133aee5c44ce9fecd50993612f47d274b44/src/IO/interfile.cxx#L513-L517). It results in
- `write("noextension") -> `noextension.hv`, `noextension.ahv`, `noextension.v`
 - `write("pre.hv") -> `pre

[2021-01-12 11:22] evgueni-ovtchinnikov commented on #845
@KrisThielemans: I would rather go for your third option - safe and backward compatible (and frankly I did not get what was wrong with `mytest1.0.h5`).

[2021-01-12 11:33] KrisThielemans commented on #845
The 3rd option "if there is any extension already, don't add another one2 sounds great but is impossible to implement. How do you know that the user wants `mytest1.0.h5` or if she meant to use `.0` as an extension. (we know, but a computer? whatever logic we put it will always trip up someone). So, a trivial implementation of it would just write `mytest1.0`, not `mytest1.0.h5` as the user probably

[2021-01-12 11:41] evgueni-ovtchinnikov commented on #845
SIRF would have to throw "unknown extension 0" then.

And for `mytest1.hv` as the destination for MR image there would be error message from STIR, I presume.

[2021-01-12 11:54] KrisThielemans commented on #845
ah, you suggest to do the same for PET and MR, but with different extensions (`.hv` for PET Interfile, `.h5` for MR HDF5`), i.e. add the extension if there's no dot in the filename (after the directory). That would be fine by me. (not so trivial to implement sadly, unless using `boost::filesystem` which in all honesty I'd rather avoid).

that confuses me. If we do `MRImageData.write(bla)`, STIR wi

[2021-01-12 12:20] evgueni-ovtchinnikov commented on #845
Or maybe better just to add `.h5` if the text after the last dot is not a known extension (currently `.h5`, `.dcm` and I presume `.nii`).

Sorry, I do not get this - we just need to analyse the text string argument of `.write`, do we not?

True, I mislooked the fact that `.hv` would be just another unknown extension for `MRImageData`, sorry.

[2021-01-12 18:40] KrisThielemans commented on #845
as in the 3rd bullet, the `MRImageData` writer only knows about writing ISMRMRD images. But I think this just gets too confusion for people. (There is no reason to prefer .h5` really). Best to keep it simple: either never add anything (preferred by @DANAJK and @ckolbPTB), or ONLY add it if no extension is given. The latter has the advantage that it's backwards compatible. However, it has the (stro

[2021-01-13 11:03] evgueni-ovtchinnikov commented on #845
So, I understand you are eventually for the 3rd option (for PET too)?

Minor remark:

No, it will write dicom if the extension is `.dcm`:
[code]
(the third argument will have to go if we require the extension to be given in `file`).

[2021-01-13 16:06] evgueni-ovtchinnikov commented on #845
How about this simple algorithm to be used by all `read` and `write` methods: if the filename does not end with an extension that SIRF can handle (MR: `.h5` or `.dcm`, PET: `.hv` / `.hs`), then add the default one (MR: `.h5`, PET: `.hv` / `.hs`)? Seems to solve all issues raised so far.

[2021-01-13 17:48] ckolbPTB commented on #845
would this mean that MR write(data.dcm) would lead to data.dcm.h5 because of ext='h5' or would the 'dcm' extension overwrite ext='h5'?

I am still very much in favour of not doing anything to the filename. File endings indicate what type of file it is but they are not essential. In addition, they are not unique. We might use .h5 but others might use .hdf5.

[2021-01-13 18:40] KrisThielemans commented on #845
This is the reason that in STIR we use a complicated way of specifying file-formats via keywords etc. (but as it's complicated, few people like it!)

If we have one writer that can write different file formats (here ISMRMRD and DICOM), then we either have to rely on the filename/extension (this is what ITK does for instance), or pass another parameter to say which one we want. We could say
[code]

[2021-01-13 21:05] DANAJK commented on #845
How about having a separate function to handle the changing extensions etc. The user could choose to use it or not and it would be clear there was something happening and where to look. The `write` method would also have the output type passed in so that it was explicit.

[code]

[2021-01-14 11:49] KrisThielemans opened #848 "PLSPrior Python doc (and MATLAB?) contains doxygen/latex"
it's currently a straight copy of the STIR doxygen, but Python help doesn't format it, see e.g.
https://github.com/SyneRBI/SIRF/blob/e43d86c685ac884594af389addb1cbd5f4931f2f/src/xSTIR/pSTIR/STIR.py#L1846-L1848

I'm not aware of any easy way to get math into "normal" Python doc (unless going via sphynx etc). I think best thing to do for now is just to replace latex-style with "hand-written" math

[2021-01-14 12:03] KrisThielemans opened #849 "use of FBP in HKEM demo is confusing"
HKEM needs an anatomical image. The demo currently uses FBP to create an image
https://github.com/SyneRBI/SIRF/blob/b789a80994e75c5011b5e76cab800be0ad7d68ba/examples/Python/PET/hkem_reconstruction.py#L103-L105
However, this is probably very confusing to most people (it doesn't make logical sense). Better to read it as in the OSSPS demo

[2021-01-15 17:30] #849 closed

[2021-01-18 14:54] #839 closed

[2021-01-19 12:03] evgueni-ovtchinnikov commented on #848
@KrisThielemans: will something like this:

[code]

[code]
[code]
do ?

[2021-01-19 18:30] KrisThielemans commented on #848
Not sure where you got the first put from? It doesn't seem correct. The formula for the prior is actually phi (although there should a sum over voxel values really, I would have to check if it's inside or outside the sqrt).

[2021-01-19 18:34] evgueni-ovtchinnikov commented on #848
the first one is for QuadraticPrior

[2021-01-20 21:54] paskino opened #852 "DataContainer divide and __div__ do not return the same result in v2.2.0"
The following fails. This is due to very different implementations of [`divide`](https://github.com/SyneRBI/SIRF/blob/master/src/common/SIRF.py#L152) and [`__div__`](https://github.com/SyneRBI/SIRF/blob/master/src/common/SIRF.py#L343)
[code]

in particular

[2021-01-20 22:03] paskino commented on #852
Actually [this](https://github.com/SyneRBI/SIRF/blob/v2.2.0/src/common/SIRF.py#L167) line is wrong but it's [fixed ](https://github.com/SyneRBI/SIRF/blob/master/src/common/SIRF.py#L162)in current master.

[2021-01-20 22:04] #852 closed

[2021-01-21 11:57] paskino commented on #784
I [stumbled ](https://github.com/SyneRBI/SyneRBI_VM/issues/172)upon this problem building SIRF master after I built v2.2.0. Maybe it's something for SIRF's CMake to remove that directory rather than UPDATE.sh?

Actually, we could delete all `sirf/include` directory?

[2021-01-21 12:00] KrisThielemans commented on #784
I can't see us doing this in CMake (it'd be rather weird to have a build wipe some of your install), but of course the UPDATE.sh script could easily do that.

[2021-01-21 12:22] rijobro commented on #784
Sorry that this has caused so many problems. Might be easier to address the problem [this way](https://github.com/SyneRBI/SIRF/issues/783#issuecomment-663034797) as it would be tidier and more future proof.

[2021-01-24 21:29] KrisThielemans opened #854 "travis fails with pip install errors"
https://travis-ci.org/github/SyneRBI/SIRF/jobs/755929284#L1407
[code]
It fails with this error on
- Xenial python 2
- Xenial python 3
- bionic python 2

`pip` 20 was going to drop support for `python2` in January, but possibly the xenial python3 is too old as well...

[2021-01-26 15:00] evgueni-ovtchinnikov commented on #524
Same trouble with `hkem_reconstruction.m`.

[2021-01-26 15:01] evgueni-ovtchinnikov commented on #459
See #524 though.

[2021-01-27 07:35] #854 closed

[2021-01-31 18:21] #138 closed

[2021-02-01 08:34] paskino opened #858 "Tag new patch version SIRF 2.2.1?"
Unittests with [CIL](https://github.com/vais-ral/CCPi-Framework) will fail because of a bug in SIRF's algebra methods in version 2.2.0.

This is fixed in current master and I would suggest to tag master as 2.2.1 so that builds will be green again.

[2021-02-01 14:27] KrisThielemans commented on #858
So, I don't think this is a SIRF issue, but a SIRF-SuperBuild issue

[2021-02-02 07:44] #858 closed

[2021-02-02 08:12] paskino commented on #784
What about the SuperBuild to remove the directory if present?

[2021-02-02 09:29] rijobro commented on #784
As @KrisThielemans , could go in the UPDATE.sh script, but shouldn't really go in the build/install instructions. Would be expected for either of those steps to be deleting folders in the install location.

[2021-02-02 09:44] KrisThielemans commented on #784
I find deletinagreed.  things in an install directory a bit scary. You don't know what the user has done or wants to do.

I suspect that there are few people left who haven't deleted this themselves, or wouldn't be using the VM `UPDATE.sh`. Possibly we could create a "pre-compile" step that warns about it and stops the compilation, but I can see this eating up your time.

[2021-02-02 14:34] paskino commented on #784
This problem prevents SIRF to build in the SuperBuild throwing a very strange error. I could put the fix in `UPDATE.sh` in the VM, but if you don't use the VM you will hit this problem.

I think this is mostly a SuperBuild bug and should be fixed there with a pre compile step.

[2021-02-02 14:45] KrisThielemans commented on #784
It is not a SuperBuild bug. It is a SIRF bug that it looks for include files in the wrong place (you should never go and find things in the install directory first, before looking in the source directory). The problem is that it's hard to track down who puts the install path before the SIRF source, and then to fix that. See #783 for info.

As far as I understand, you will only hit this problem if

[2021-02-02 15:26] paskino commented on #784
I believe the problem is [this ](https://github.com/SyneRBI/SIRF/blob/master/src/Registration/NiftyMoMo/CMakeLists.txt#L31)line.

`${NIFTYREG_INCLUDE_DIRS}` expands to `install/include` in my machine.

The solution is just to remove `BEFORE` at that line, apparently.

[2021-02-02 19:49] #784 closed

[2021-02-03 12:56] francescaleek opened #860 "Cannot use set_minimum_relative_change in OSMAPOSL"
https://github.com/SyneRBI/SIRF/blob/7fa76e8951ce0a8292910113bbf657fba293432f/src/xSTIR/cSTIR/cstir_p.cpp#L704

Setting `set_minimum_relative_change` results in an error being thrown by line 704. Should the code contain `else if` statements instead?

[code]

[2021-02-03 13:15] KrisThielemans commented on #860
correct. want to create a PR?

[2021-02-03 14:55] #860 closed

[2021-02-04 14:34] paskino opened #862 "Loading an AcquisitionData template with storage scheme memory fails"
I am not sure this is meant or a bug but running the following fails. In practice it seems that we cannot load the `AcquisitionData` template in memory.

[code]

[2021-02-04 14:43] KrisThielemans commented on #862
As explained multiple times elsewhere, the provided "templates" contain no data (they are a template only!). Therefore, you cannot load them in memory.

I don't know how to resolve this confusion satisfactorily, but it is strictly not a bug in my opinion (but I might be the only one).

Unrelated to this remark, but certainly related regarding confusion is #716

[2021-02-04 15:57] paskino commented on #862
:D

To me it doesn't make sense that I cannot load a template in memory, it's just metadata. But on the other hand I have no idea of how this is implemented.

I personally don't like that the `AcquisitionData` class may not have data and still be called `AcquisitionData`.
Swapping `pet.AcquisitionData.set_storage_scheme('memory')` with `data = data.get_uniform_copy(0)` does the trick.

[2021-02-04 15:57] #862 closed

[2021-02-04 17:45] KrisThielemans commented on #862
agreed, but as we have no `AcquisitionDataTemplate` class, or `AcquisitionDataInfo`, this is our work-around.

It would make sense to have that (for STIR, it'd have to contain `stir::ExamInfo` and `stir::ProjDataInfo`). I don't know if it's possible for ISMRMRD data.

Do I see a volunteer?

[2021-02-04 18:36] paskino opened #863 "PET AcquisitionData does not throw an error when dividing by zero"
All concrete classes of DataContainer except [`PETAcquisitionData`](https://github.com/SyneRBI/SIRF/blob/90cd6774807649182deda0e50182852596e08536/src/xSTIR/cSTIR/stir_data_containers.cpp#L216) throw an error when there is division by zero .

[2021-02-04 18:39] paskino commented on #862
Do you see a volunteer? I don't :D

[2021-02-04 18:40] KrisThielemans commented on #863
It's probably federated to STIR. I'm mildly surprised that that it would be different for images and `stir.ProjData` though.

Are you sure this is desired behaviour? Does `numpy` throw an error? (I doubt it)

[2021-02-04 18:42] paskino commented on #863
numpy sets the result to `numpy.inf`.

[2021-02-04 18:44] KrisThielemans commented on #863
Thought so, I think that's what nearly everyone will expect, and the title should therefore be reverted 😄 .

[2021-02-04 21:19] paskino commented on #863
Well, I might open another issue suggesting that we should return `inf` in such case instead of raising an error.

[2021-02-05 18:12] #863 closed

[2021-02-05 18:28] paskino opened #865 "How to handle DataContainer division by zero"
Currently, not all `DataContainer` sub classes will throw an error on division by zero, https://github.com/SyneRBI/SIRF/issues/863.

However, this is not standard for other packages, such as `numpy` for instance which returns `numpy.inf`.

We should define a policy and develop the code accordingly.

[2021-02-05 18:31] KrisThielemans commented on #865
ah, I was just editing #863 😄 .

Here's my policy: do not do anything special. The hardware will take care of it. On IEEE compatible systems, it will return `inf` or `nan` (depending on 1/0 or 0/0). On other systems, I don't know. But it's not our business to take care of this.

[2021-02-05 20:27] paskino opened #866 "Travis unittest probably time out"
It seems travis [times out](https://travis-ci.org/github/SyneRBI/SIRF/jobs/757733547#L8598) during unittests.

We may want to do unit tests as suggested by @rijobro in https://github.com/SyneRBI/SIRF/pull/853#issuecomment-774037988

[2021-02-05 20:30] paskino commented on #866
Another option is to run `ctest -V` to produce some output.

[2021-02-05 23:39] #866 closed

[2021-02-09 17:16] #845 closed

[2021-02-11 10:40] #459 closed

[2021-02-11 10:40] paskino commented on #293
If you want to try to build Gadgetron master there's a SuperBuild [branch](https://github.com/SyneRBI/SIRF-SuperBuild/tree/build_Gadgetron_master) and also a related draft PR https://github.com/SyneRBI/SIRF-SuperBuild/pull/438

[2021-02-11 10:47] KrisThielemans commented on #524
Note that this is on Windows. We haven't tested on Linux nor OSX

[2021-02-11 12:22] evgueni-ovtchinnikov commented on #848
fixed by 933630ece93ded99dffbdc60e4eef993051621b1

[2021-02-11 12:22] #848 closed

[2021-02-11 12:56] KrisThielemans commented on #812
@AnderBiguri could you have a look at this to see if this is required for v3.0? I can't remember...

[2021-02-11 13:09] AnderBiguri commented on #812
I think this is closed with #791

[2021-02-11 13:14] AnderBiguri commented on #812
So this is the current stage of this:

[code]
returns
[code]

I still think this is confusing because of the printing order, but at least the indices correspond to the correct ones, thanks to #791

[2021-02-11 13:53] KrisThielemans commented on #812
thanks. So is the remaining problem then that `print_info()` prints the offsets (and I guess `spacing` and `size`) in the wrong order (for C++ and Python)?

[2021-02-11 13:54] AnderBiguri commented on #812
@KrisThielemans correct.

[2021-02-11 14:29] KrisThielemans commented on #741
Giving this a bit more thought, I believe `Resampler` is the better terminology (after all, it's an `Operator`, not `Operate` either).

@evgueni-ovtchinnikov can you create a PR doing the renaming, but having an alias (would have to be in C++, MATLAB and Python, where it could simply be `Resample=Resampler` I guess?). Will need adjustments in various places, including doc.

[2021-02-11 14:31] KrisThielemans commented on #283
Is this done? If not, it would be best to convert the above into a checklist such that we can see what's done already.

[2021-02-11 15:08] paskino commented on #865
So, we need to implement the division in C++ accordingly.

[2021-02-11 15:14] evgueni-ovtchinnikov commented on #283
1. (Pixelwise) binary operations:
- [x] `add(self, other, out=None)`
- [x] `subtract(self, other, out=None)`
- [x] `multiply(self, other, out=None)`
- [x] `divide(self, other, out=None)`
- [ ] `power(self, other, out=None)`
- [ ] `maximum(self, other, out=None)`
2. (Pixelwise) unary operations:
- [ ] `abs(self, out=None)`
- [ ] `sign(self, out=None)`
- [ ] `sqrt(self, out=None)`
3 Reductions:
- [

[2021-02-11 15:24] KrisThielemans commented on #865
Not sure what you mean. I'm saying, "don't do anything special". If you divide in C++, your processor will decide what it does. We just accept that. (In practice, everyone will have an IEEE-compliant CPU. With GPUs it'll be different I guess).

[2021-02-11 15:26] KrisThielemans commented on #504
@paskino I think you've fixed this?

[2021-02-11 16:03] #668 closed

[2021-02-11 17:10] paskino commented on #614
Shall we close this @KrisThielemans ?

[2021-02-12 07:33] KrisThielemans opened #873 "for Python, use deprecation module for petmr_data_path"
Currently the deprecation is only in the usage message, better to use `deprecation`.

[2021-02-12 18:14] KrisThielemans commented on #614
`coverage` and `coveralls` have their own issues I believe.

I guess we're not fixing the owner nor the email address.

so yes, let's close

[2021-02-12 18:14] #614 closed

[2021-02-14 16:29] paskino opened #874 "Sirf version to be available at C++ level"
With #872 version strings have been added at Python and MATLAB level, however this should be available in C++.

[2021-02-14 16:31] #181 closed

[2021-02-14 16:31] #463 closed

[2021-02-14 23:06] DANAJK commented on #812
`offset` is the location in LPS space of the voxel that has image coordinate (0,0,0). `offset` is in LPS space so the ordering should never change.

The word 'zoom' implies 'a closer look' so I am not sure what `zoom_image` is doing, or why it takes `offset` as an input.

`PixelSpacing` in DICOM is a 2-element vector with meaning [height width] in mm for a pixel. I think the suggestion above is th

[2021-02-15 09:34] #124 closed

[2021-02-15 09:42] johannesmayer commented on #805
this has happened on my RPE branch now.
should we close this one here then?

[2021-02-15 13:51] #805 closed

[2021-02-16 07:24] ashgillman commented on #812
Strange - can you quickly do:

[code]

[2021-02-16 07:41] ashgillman commented on #812
I'm looking at
https://github.com/SyneRBI/SIRF/blob/2cd7275dcc0c09a01e30314cf95a7065405c3aa7/src/common/SIRF.py#L683-L699

I'm not sure originally why these weren't returning LPS, but I think this is just obfuscating it. We want GeometricalInfo to be always defined and stored in LPS and it should be defined that way when creating the ImageData from a STIR object.

Actually, I thought we did do tha

[2021-02-16 07:57] ashgillman commented on #812
I'm a bit confused by #791 actually, I am currently using SIRF v2.2.0, which is older than that issue, and my geometrical info orders are all correct /except/ for the zoom_images as outlined in this issue. There is no MWE in that issue - I think that the issue here is caused by https://github.com/SyneRBI/SIRF/commit/bb7690e0c333d673c4f3c712696e45ea827b542b which be reverted.

[2021-02-16 08:55] AnderBiguri commented on #812
!INTERFILE  :=
originating system := Discovery MI
!imaging modality := PT
!version of keys := STIR4.0
name of data file := dynamicXcat_WB_1260_1295.v
!GENERAL DATA :=
!GENERAL IMAGE DATA :=
!type of data := PET
imagedata byte order := LITTLEENDIAN
!PET STUDY (General) :=
!PET data type := Image
!number format := float
!number of bytes per pixel := 4
number of dimensions := 3
matrix axis label [1]

[2021-02-16 09:54] AnderBiguri commented on #812
For #791 testing, can you try this:

[code]

Now, it outputs:

[code]

[2021-02-19 05:39] ashgillman commented on #622
FYI - this also affects DISABLE_STIR and DISABLE_Registration. I couldn't quite tell from the proposed solution if that would get fixed too, I guess so.

Ash

[2021-02-19 09:05] KrisThielemans commented on #622
This is unfortunate, as some people will want to disable certain components as they have problems with compilers etc (and if they don't need the component, shouldn't have to bother with it).

It's too long ago for me to remember it all, and my writing above isn't quite crystal clear, I don't have a good feeling for how much work step 1 would be. Doesn't sound like a lot, but these things tend to e

[2021-02-22 00:32] KrisThielemans opened #875 "add support for the new STIR parallelproj projector"
https://github.com/UCL/STIR/pull/817 adds @gschramm's https://github.com/gschramm/parallelproj

This should be an almost verbatim copy of what @rijobro did for [NiftyPET](https://github.com/SyneRBI/SIRF/pull/553), except that we don't want to compare with Python `parallelproj` directly (therefore is simpler). STIR will have `STIR_WITH_Parallelproj_PROJECTOR` CMake and C++ preprocessor variables (n

[2021-02-22 00:33] KrisThielemans commented on #875
Note that the SIR PR will be merged to `master`, but as long as SIRF uses the above variables, it should compile for STIR's `release_4` branch.

[2021-02-24 08:59] KrisThielemans commented on #173
SIRF tests currently fail on STIR test4, which unlists the data
https://travis-ci.org/github/SyneRBI/SIRF-SuperBuild/jobs/759920159#L15169

This will be caused by https://github.com/UCL/STIR/pull/828 which I created to allow modifying `set_template` ...

It shouldn't go into an infinite loop though!

[2021-02-24 10:11] KrisThielemans commented on #173
The loop is caused because `stir::LmToProjData` has now a `virtual set_up()`. Its `post_processing()` calls its `set_up()` for backwards compatibility. However, `sirf:ListmodeToSinograms` has "its own" `set_up()`, which calls `post_processing()`. This used to work, but as `set_up()` is `virtual`,  it means that it will be calling itself...

I guess this is an example of the disadvantage of derivin

[2021-02-24 17:19] evgueni-ovtchinnikov commented on #173
why not just rename `set_up` of `sirf::ListmodeToSinograms`? I just have tried it (simply renamed to `set_up1`) and it fixed the problem.

of course some nice alternative name is needed (`preprocess`? any other ideas?)

[2021-02-24 22:12] KrisThielemans commented on #173
C++ side was handled in #876. Python and MATLAB side for `set_template` still to do.

[2021-02-25 00:22] ashgillman opened #877 "Loading STIR.ImageData 4D gives unexpected results"
We have confirmed in an external viewer that the following 3D and 4D images align:

[code]

Header info is identical:
[code]

When we plot, our y axis is inverted and both images load as a 3D.

Probably a STIR Issue

Does STIR support loading of 4D NIfTI data?

Happy to write an MWE if this is unexpected.

[2021-02-25 07:03] KrisThielemans commented on #877
SIRF currently only uses STIR's 3D images, i.e. `DiscretisedDensity`. STIR will therefore only read the first volume of the data. However, the geometry should still be fine of course. That seems to be a STIR bug. Please create an issue there.

I have no idea what an MWE is though. https://acronyms.thefreedictionary.com/MWE

[2021-02-25 10:21] ashgillman commented on #877
Number 10 on your list - minimum working example :)

[2021-02-25 10:32] KrisThielemans commented on #741
rename, and derive `Resample` from `Resampler`, deprecate `Resample`

[2021-02-25 14:12] evgueni-ovtchinnikov commented on #875
Added `PETAcquisitionModelUsingParallelproj` to SIRF, but SuperBuild apparently could not find parallelproj:

CMake Warning at CMakeLists.txt:177 (find_package):
  By not providing "Findparallelproj.cmake" in CMAKE_MODULE_PATH this project
  has asked CMake to find a package configuration file provided by
  "parallelproj", but CMake did not find one.

  Could not find a package configuration file

[2021-02-25 14:14] KrisThielemans commented on #875
[code]

[2021-02-25 14:56] KrisThielemans commented on #875
also, you need https://github.com/SyneRBI/SIRF-SuperBuild/pull/495. hopefully merged in ~20 mins

[2021-02-25 22:01] #875 closed

[2021-03-01 15:21] #865 closed

[2021-03-01 16:02] KrisThielemans commented on #865
excellent. might need some changes on the Python side? For instance, @paskino tests on the division throwing I think.

[2021-03-01 16:08] evgueni-ovtchinnikov commented on #865
@paskino: could you fix your Python zero division tests please? I am not sure I understand them, so afraid to damage something.

[2021-03-02 16:07] evgueni-ovtchinnikov commented on #865
@paskino: disabled zero-division checks in `Utilities.py` for now to pacify Travis

[2021-03-03 16:08] #173 closed

[2021-03-08 13:53] AnderBiguri opened #879 "zoom_image() does not change underlying data"
As title says, `zoom_image()` will change the geometry information but not the data.  This can be OK, but should we maybe have some way of informing the user?

I forgot that that was the case, and I was trying to crop some too-large FOV images, and did:

        image=image.zoom_image(size=  (-1,image.get_geometrical_info().get_size()[1]-250,image.get_geometrical_info().get_size()[2]-150),scaling=

[2021-03-08 14:03] KrisThielemans commented on #879
that sounds very worrying, from a bug up to impossible.

probably try with a different object as return value

[code]

[2021-03-08 15:06] AnderBiguri commented on #879
bug (on my side) indeed.

Actually, Amide scales up all images to that one which is bigger of all loaded up, which I threw me off.

[2021-03-08 15:06] #879 closed

[2021-03-09 16:38] evgueni-ovtchinnikov opened #880 "Scatter estimation in reconstruct_from_listmode.py fails"
When running `reconstruct_from_listmode.py` I got this puzzling error message:
[code]

[2021-03-09 17:19] evgueni-ovtchinnikov commented on #880
the latest STIR commit was
[code]

[2021-03-10 12:47] evgueni-ovtchinnikov commented on #137
@KrisThielemans: I understand `unsigned int SinglesFromGEHDF5::read_singles_from_file(const std::string& rdf_filename)` reads singles from a file in RDF format containing  `ListModeData` - where can I find such a file? Also, will `stir::read_from_file<ListModeData>` be able to read from it?

[2021-03-10 13:21] KrisThielemans commented on #137
The function actually works with both "sinogram" and "listmode" data in RDF9.  The VQC data should have
- list data in `spatial-calibration-VQC\VQC_Phantom_Dataset_Share\LST\LST_30501_PET_Scan_for_VQC_Verification`. Note that I believe that the Zenodo version is compressed, but we have the uncompressed file (but this wouldn't matter for the randoms stuff).
- sinogram data in `spatial-calibration-V

[2021-03-10 14:19] KrisThielemans commented on #880
on the VQC data?

[2021-03-10 14:50] KrisThielemans commented on #880
hmmm. I thought we had resolved that one. It does work from STIR only I believe.

Will need to check again, but I'd appreciate it if you could check again with current STIR master.

[2021-03-10 15:00] evgueni-ovtchinnikov commented on #880
I am using current STIR master (`git fetch` does nothing).

[2021-03-10 15:04] KrisThielemans commented on #880
oops. sorry.

[2021-03-16 15:46] AnderBiguri opened #883 "sirf.Reg input parsing error handling"
Most sirf.Reg handles input parsing by raising `AssertionError()`.

I see 2 things that may need improvement, bu please do let me know if I am wrong:

1. `AssertionError()` is an error from when an assert (i.e. something that should always be true, and enforced by the code) fails. Input parsing does not fit into this description, so I think the correct error to raise is `TypeError()`. This of cour

[2021-03-16 15:57] KrisThielemans commented on #883
agreed!

[2021-03-18 10:36] #137 closed

[2021-03-19 15:42] KrisThielemans opened #884 "tests write GadgetronImagesVector::set_up_geom_info warnings"
Our tests write lots of these
https://travis-ci.com/github/SyneRBI/SIRF/jobs/491795031#L13658
[code]
This is worrying, as well as causing log-size problems on Travis.

[2021-03-19 16:54] KrisThielemans commented on #884
I'm not sure about that fix... Why does the warning trip? It shouldn't.

[2021-03-19 17:07] evgueni-ovtchinnikov commented on #884
so far as I can see, the message "warns" that geometry set up failed, so it is essentially error message - apparently, Richard did not consider this kind of error fatal

[2021-03-19 17:10] KrisThielemans commented on #884
@rijobro do you remember?

[2021-03-19 18:53] rijobro commented on #884
I think we didn't consider it fatal as most users wouldn't care about converting `GadgetronImageData` to `RegImageData` or `STIRImageData`, so they wouldn't care that we didn't manage to calculate the geometry.

Is this a warning that you weren't seeing previously and have started seeing recently? No idea why that would happen.

I suppose you'll have to run the tests locally and print `read_dir`,

[2021-03-22 19:05] KrisThielemans commented on #884
@evgueni-ovtchinnikov could you check this?

I am very uncomfortable with having wrong information in classes. Certainly now that we've silenced any warnings.

[2021-03-22 20:10] rijobro commented on #884
If I remember correctly, the image won't have wrong info. If it fails to calculate the geometrical information (it looks like here because it thinks the 3 directions aren't orthogonal to each other), then the geom info will be blank. See [here](https://github.com/SyneRBI/SIRF/blob/master/src/xGadgetron/cGadgetron/gadgetron_data_containers.cpp#L1662), where the object only gets created at the end o

[2021-03-23 08:22] KrisThielemans commented on #884
ok. I see that `get_geom_info_sptr` throws if it isn't set-up.
https://github.com/SyneRBI/SIRF/blob/5f47af99304fad034637eb8accf57a1ce5df3991/src/common/include/sirf/common/ImageData.h#L118

So this seems safe, but nevertheless a puzzle. Why does it appear in our test data? Possibly something wrong with how it was generated. (@johannesmayer are you generating the test data now in #172 ?).

I'd feel

[2021-03-23 08:56] rijobro commented on #884
It would be useful to print `read_dir`, `phase_dir` and `slice_dir` to see why it is that it's failing. Perhaps some are all zeros, or perhaps some are in the same direction. Do you know if this is a new issue?

[2021-03-23 09:03] KrisThielemans commented on #884
I don't know if this is a new issue.

[2021-03-23 09:22] evgueni-ovtchinnikov commented on #884
This is a very old issue, and it is actually an ISMRMRD one: their `generate_cartesian_shepp_logan` executable that we used to generate `simulated_MR_2D_cartesian.h5` and `simulated_MR_2D_cartesian_Grappa2.h5` generates them with zero `read_dir`, `phase_dir` and `slice_dir`.

Now that @DANAJK  apparently has his own Shepp-Logan generator that assigns proper non-zero values to `read_dir`, `phase_di

[2021-03-23 09:29] johannesmayer commented on #884
Would this contradict generating the test-data during build to be flexible w.r.t the ISMRMRD Header version?

[2021-03-23 10:04] evgueni-ovtchinnikov commented on #884
@johannesmayer: if we go for test data generation during build, then ISMRMRD Shepp-Logan generator must be fixed first. Assigning proper values to `read_dir`, `phase_dir` and `slice_dir` (e.g. `1,0,0`, `0,1,0`, `0,0,1`) in `generate_cartesian_shepp_logan` should not take you long - can you create a PR at github.com/ismrmrd?

[2021-03-23 10:08] johannesmayer commented on #884
If it is guaranteed that we can build against ISMRMRD/master then I would be happy to quickly write and submit this.

[2021-03-23 10:13] KrisThielemans commented on #884
that might be a stretch. If they would be happy to create a release, then we could do this.

Stupid question (to which I should know the answer): why do we need `generate_cartesian_shepp_logan`. Can we do this ourselves?

[2021-03-23 10:22] evgueni-ovtchinnikov commented on #884
@KrisThielemans: As you might have noticed, I started writing a corrected version of `generate_cartesian_shepp_logan` some time ago, but stopped because I felt terribly uneasy copying 99.9% of the ISMRMRD generator code into SIRF - to be thrown away once the ISMRMRD code is properly fixed.

[2021-03-23 13:09] AnderBiguri opened #885 "zoom_image with nearest neighbor "scaling""
For a particular thing, I needed to use zoom_image to do nearest neighbor scaling (this is a bit of a  misnomer, perhaps "None" scaling is a better name?). Essentially I am doing `zoom_image` on an `ImageData` that contains labels, and thus they need to keep their pixel values unchanged.

I have modified `zoom_image` such that allows this. I post it here in case this is not a "just for me" solutio

[2021-03-24 09:05] DANAJK commented on #884
1. The ISMRMRD  `read_dir`, `phase_dir` and `slice_dir` are not the best names and there has been some discussion about changing them. (They should really be something like `dim1_dir`, `dim2_dir`, `dim3_dir` with a separate field to denote the physical phase direction etc. ) . Changes are likely to be backwards compatible.
2. Should we use `NaN` to denote geometry properties that are not set, unce